eic-registry-model/src/main/resources/schema2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://einfracentral.eu" version="1.0">

  <xs:import namespace="http://einfracentral.eu" schemaLocation="schema1.xsd"/>

  <xs:complexType abstract="true" name="xmlAdapter">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="category">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoryVocab" type="ns1:vocabulary"/>
      <xs:element minOccurs="0" name="subCategoryVocab" type="ns1:vocabulary"/>
      <xs:element minOccurs="0" name="superCategoryVocab" type="ns1:vocabulary"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="scientificDomain">
    <xs:sequence>
      <xs:element minOccurs="0" name="domain" type="ns1:vocabulary"/>
      <xs:element minOccurs="0" name="subdomain" type="ns1:vocabulary"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
