eic-registry-model/src/main/resources/schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://einfracentral.eu" elementFormDefault="qualified" targetNamespace="http://einfracentral.eu" version="1.0">

  <xs:import schemaLocation="schema2.xsd"/>

  <xs:element name="bundle" type="tns:bundle"/>

  <xs:element name="bundledProvider" type="tns:bundledProvider"/>

  <xs:element name="bundledService" type="tns:bundledService"/>

  <xs:element name="contact" type="tns:contact"/>

  <xs:element name="emailMessage" type="tns:emailMessage"/>

  <xs:element name="event" type="tns:event"/>

  <xs:element name="funder" type="tns:funder"/>

  <xs:element name="indicator" type="tns:indicator"/>

  <xs:element name="infraService" type="tns:infraService"/>

  <xs:element name="measurement" type="tns:measurement"/>

  <xs:element name="metadata" type="tns:metadata"/>

  <xs:element name="provider" type="tns:provider"/>

  <xs:element name="providerLocation" type="tns:providerLocation"/>

  <xs:element name="providerRequest" type="tns:providerRequest"/>

  <xs:element name="rangeValue" type="tns:rangeValue"/>

  <xs:element name="service" type="tns:service"/>

  <xs:element name="serviceOption" type="tns:serviceOption"/>

  <xs:element name="user" type="tns:user"/>

  <xs:element name="vocabulary" type="tns:vocabulary"/>

  <xs:complexType abstract="true" name="bundle">
    <xs:sequence>
      <xs:element name="active" type="xs:boolean"/>
      <xs:element minOccurs="0" ref="tns:metadata"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="metadata">
    <xs:sequence>
      <xs:element default="null" minOccurs="0" name="modifiedAt" type="xs:string"/>
      <xs:element default="null" minOccurs="0" name="modifiedBy" type="xs:string"/>
      <xs:element default="null" minOccurs="0" name="registeredAt" type="xs:string"/>
      <xs:element default="null" minOccurs="0" name="registeredBy" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="bundledProvider">
    <xs:complexContent>
      <xs:extension base="tns:bundle">
        <xs:sequence>
          <xs:element minOccurs="0" ref="tns:provider"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="provider">
    <xs:sequence>
      <xs:element name="acronym" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Acronym or abbreviation of the provider.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="active" type="xs:boolean"/>
      <xs:element minOccurs="0" name="areasOfActivity">
        <xs:annotation>
          <xs:documentation><![CDATA[Basic research, Applied research or Technological development.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="areaOfActivity" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="categories">
        <xs:annotation>
          <xs:documentation><![CDATA[A named group of providers that offer access to the same type of resource or capabilities, within the defined category.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="category" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="contacts">
        <xs:annotation>
          <xs:documentation><![CDATA[List of provider's contact persons info.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:contact"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="coordinatingCountry" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Country which provides the coordination. In the case of distributed/virtual Providers the country of the coordinating office (headquarters) should be selected.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[The description of the provider.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="esfri" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[If the RI is (part of) an ESFRI project indicate how the RI participates: a) RI is node of an ESFRI project, b) RI is an ESFRI project, c) RI is an ESFRI landmark.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="esfriDomains">
        <xs:annotation>
          <xs:documentation><![CDATA[ESFRI domain classification.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="esfriDomain" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="hostingLegalEntity" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Name of the organisation/institution legally hosting (housing) the RI or its coordinating centre. A distinction is made between: (1) RIs that are self-standing and have a defined and distinct legal entity, (2) RI that are embedded into another institution which is a legal entity (such as a university, a research organisation, etc.). If (1) - name of the RI, If (2) - name of the hosting organisation.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Unique identifier of the provider.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="legalStatus" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[For independent legal entities (1) - legal status of the Provider. For embedded Providers (2) - legal status of the hosting legal entity.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lifeCycleStatus" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Current status of the RI life-cycle.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="location" type="tns:providerLocation">
        <xs:annotation>
          <xs:documentation><![CDATA[Physical location of the Provider or its coordinating centre in the case of distributed, virtual, and mobile Providers.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="logo" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[Link to the logo/visual identity of the provider.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="multimedia">
        <xs:annotation>
          <xs:documentation><![CDATA[Link to video, slideshow, photos, screenshots with details of the provider.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="multimedia" nillable="true" type="xs:anyURI"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Full Name of the organisation providing/offering the service/resource.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="nationalRoadmap" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Is the RI featured on the national roadmap for research infrastructures]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="networks">
        <xs:annotation>
          <xs:documentation><![CDATA[Select the networks the RIs is part of.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="network" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="participatingCountries">
        <xs:annotation>
          <xs:documentation><![CDATA[Providers that are funded by several countries should list here all supporting countries (including the Coordinating country).]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="participatingCountry" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="societalGrandChallenges">
        <xs:annotation>
          <xs:documentation><![CDATA[RI’s participation in the grand societal challenges as defined by the European Commission (Horizon 2020)]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="societalGrandChallenge" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
      <xs:element minOccurs="0" name="tags">
        <xs:annotation>
          <xs:documentation><![CDATA[Keywords associated to the Provider to simplify search by relevant keywords.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="tag" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="types">
        <xs:annotation>
          <xs:documentation><![CDATA[Defines if the Provider is single-sited, distributed, mobile, virtual, etc.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="type" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="users">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:user"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="website" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[Webpage with information about the provider.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="contact">
    <xs:sequence>
      <xs:element name="email" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Email of the service/resource's main contact person/manager.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="firstName" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[First Name of the service/resource's main contact person/manager.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lastName" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Last Name of the service/resource's main contact person/manager.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="position" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Position of the service/resource's main contact person/manager.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tel" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Telephone of the service/resource's main contact person/manager.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="providerLocation">
    <xs:sequence>
      <xs:element name="city" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Provider's location city.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Provider's location name.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="number" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Provider's location street number.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="postalCode" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Provider's location postal code.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="region" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Provider's location region.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="street" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Provider's location street.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="user">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="surname" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="bundledService">
    <xs:complexContent>
      <xs:extension base="tns:bundle">
        <xs:sequence>
          <xs:element minOccurs="0" ref="tns:service"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="service">
    <xs:sequence>
      <xs:element minOccurs="0" name="accessModes">
        <xs:annotation>
          <xs:documentation><![CDATA[The mode a user can access the service/resource (Excellence Driven, Market driven, etc).]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="accessMode" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="accessPolicy" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[Webpage to the information about the access policies that apply.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="accessTypes">
        <xs:annotation>
          <xs:documentation><![CDATA[The way a user can access the service/resource (Remote, Physical, Virtual, etc.).]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="accessType" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="adminManual" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[Link to the service/resource admin manual and documentation.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element default="1" minOccurs="0" name="aggregatedServices" type="xs:int">
        <xs:annotation>
          <xs:documentation><![CDATA[Number of services offered under the record.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element default="0" minOccurs="0" name="applications" type="xs:int">
        <xs:annotation>
          <xs:documentation><![CDATA[Number of applications offered under the record.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="certifications">
        <xs:annotation>
          <xs:documentation><![CDATA[List of certifications obtained for the service (including the certification body).]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="certification" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="changeLog" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Summary of the service/resource features updated from the previous version.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="contacts">
        <xs:annotation>
          <xs:documentation><![CDATA[List of service's contact persons info.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:contact"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element default="0" minOccurs="0" name="datasets" type="xs:int">
        <xs:annotation>
          <xs:documentation><![CDATA[Number of datasets offered under the record.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[A high-level description in fairly non-technical terms of what the service/resource does, functionality it provides and resources it enables to access.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="endpoint" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[Main URL to use the service (in the case of networked service).]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="funders">
        <xs:annotation>
          <xs:documentation><![CDATA[Sources of funding for the development and/or operation of the service.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="funder" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="helpdesk" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[The URL to a webpage with the contact person or helpdesk to ask more information from the service/resource provider about this service.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Global unique and persistent identifier of the service/resource.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="languages">
        <xs:annotation>
          <xs:documentation><![CDATA[Languages of the user interface of the service or the resource.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="language" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="lastUpdate" type="xs:anySimpleType">
        <xs:annotation>
          <xs:documentation><![CDATA[Date of the latest update of the service/resource.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="logo" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[Link to the logo/visual identity of the service. The logo will be visible at the Portal.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="maintenance" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[Webpage with information about planned maintenance windows for this service.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="monitoring" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[Webpage with monitoring information about this service.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="multimediaUrls">
        <xs:annotation>
          <xs:documentation><![CDATA[Link to video, screenshots or slides showing details of the service/resource.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="multimediaUrl" type="xs:anyURI"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Brief and descriptive name of service/resource as assigned by the service/resource provider.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="options">
        <xs:annotation>
          <xs:documentation><![CDATA[High-level description of the various options or forms in which the service/resource can be instantiated.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="option" type="tns:serviceOption"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="order" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[Webpage to request the service/resource from the service/resource provider.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="orderType" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Described id the service/resource can be accessed with an ordering process.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element default="0" minOccurs="0" name="otherProducts" type="xs:int">
        <xs:annotation>
          <xs:documentation><![CDATA[Other resources offered under the record.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="paymentModel" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[Webpage with the supported payment models and restrictions that apply to each of them.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="phase" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Phase of the service/resource lifecycle.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="places">
        <xs:annotation>
          <xs:documentation><![CDATA[Countries where the service/resource is offered.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="place" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="pricing" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[Webpage with the information on the price scheme for this service in case the customer is charged for.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="privacyPolicy" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[Link to the privacy policy applicable to the service.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="providers">
        <xs:annotation>
          <xs:documentation><![CDATA[The organisation that manages and delivers the service/resource.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="provider" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element default="0" minOccurs="0" name="publications" type="xs:int">
        <xs:annotation>
          <xs:documentation><![CDATA[Number of publications offered under the record.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="relatedPlatforms">
        <xs:annotation>
          <xs:documentation><![CDATA[List of service's related platforms.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="relatedPlatform" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="relatedServices">
        <xs:annotation>
          <xs:documentation><![CDATA[List of other services that are commonly used with this service.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="relatedService" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="requiredServices">
        <xs:annotation>
          <xs:documentation><![CDATA[List of other services required with this service.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="requiredService" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="scientificSubdomains">
        <xs:annotation>
          <xs:documentation><![CDATA[The subbranch of science, scientific subdicipline that is related to the service/resource.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="scientificSubdomain" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="sla" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[Webpage with the information about the levels of performance that a service/resource provider is expected to deliver.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element default="0" minOccurs="0" name="software" type="xs:int">
        <xs:annotation>
          <xs:documentation><![CDATA[Number of softwares offered under the record.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="standards">
        <xs:annotation>
          <xs:documentation><![CDATA[List of standards supported by the service.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="standard" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="subcategories">
        <xs:annotation>
          <xs:documentation><![CDATA[A named group of services/resources that offer access to the same type of resource or capabilities, within the defined service category.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subcategory" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="tagline" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Short catch-phrase for marketing and advertising purposes. It will be usually displayed close the service name and should refer to the main value or purpose of the service.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="tags">
        <xs:annotation>
          <xs:documentation><![CDATA[Keywords associated to the service/resource to simplify search by relevant keywords.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="tag" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="targetUsers">
        <xs:annotation>
          <xs:documentation><![CDATA[Type of users/customers that commissions a service/resource provider to deliver a service.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="targetUser" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="termsOfUse" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[Webpage describing the rules, service/resource conditions and usage policy which one must agree to abide by in order to use the service.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="training" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[Webpage to training information on the service.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="trl" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[The Technology Readiness Level of the Tag of the service/resource.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="url" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[Webpage with information about the service/resource usually hosted and maintained by the service/resource provider.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="useCases">
        <xs:annotation>
          <xs:documentation><![CDATA[List of use cases supported by this service/resource.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="useCase" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="userBaseList">
        <xs:annotation>
          <xs:documentation><![CDATA[List of customers, communities, users, etc. using the service.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="userBase" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="userManual" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[Link to the service/resource user manual and documentation.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="userValue" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[The benefit to a user/customer delivered by a service; benefits are usually related to alleviating pains (e.g., eliminate undesired outcomes, obstacles or risks) or producing gains (e.g. increased performance, social gains, positive emotions or cost saving).]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="version" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Version of the service/resource that is in force.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="serviceOption">
    <xs:sequence>
      <xs:element minOccurs="0" name="attributes">
        <xs:annotation>
          <xs:documentation><![CDATA[List of option's attributes.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="attribute" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="contacts">
        <xs:annotation>
          <xs:documentation><![CDATA[List of option's contact persons info.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:contact"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="description" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[The description of the service option.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Identifier of the service option.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="logo" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[Link to the logo/visual identity of the service provider.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Name of the service option.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="url" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[Webpage with information about the service option.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="emailMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
      <xs:element minOccurs="0" name="recipientEmail" type="xs:string"/>
      <xs:element minOccurs="0" name="senderEmail" type="xs:string"/>
      <xs:element minOccurs="0" name="senderName" type="xs:string"/>
      <xs:element minOccurs="0" name="subject" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="event">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="instant" type="xs:long"/>
      <xs:element name="service" type="xs:string"/>
      <xs:element name="type" type="xs:string"/>
      <xs:element name="user" type="xs:string"/>
      <xs:element minOccurs="0" name="value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="extrasMapType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="entry" nillable="true" type="tns:extrasType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="extrasType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="key" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="extrasMapTypeAdapter">
    <xs:complexContent>
      <xs:extension base="xmlAdapter">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="funder">
    <xs:sequence>
      <xs:element minOccurs="0" name="acronym" type="xs:string"/>
      <xs:element minOccurs="0" name="country" type="xs:string"/>
      <xs:element minOccurs="0" name="fundingOrganisation" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="organisationLocalLanguage" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="indicator">
    <xs:sequence>
      <xs:element name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="dimensions">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="dimension" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="unit" type="xs:string"/>
      <xs:element name="unitName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="infraService">
    <xs:complexContent>
      <xs:extension base="tns:bundle">
        <xs:sequence>
          <xs:element name="latest" type="xs:boolean"/>
          <xs:element minOccurs="0" ref="tns:service"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="measurement">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="indicatorId" type="xs:string"/>
      <xs:element minOccurs="0" name="locations">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="location" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" ref="tns:rangeValue"/>
      <xs:element name="serviceId" type="xs:string"/>
      <xs:element minOccurs="0" name="time" type="xs:anySimpleType"/>
      <xs:element minOccurs="0" name="value" type="xs:string"/>
      <xs:element name="valueIsRange" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="rangeValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="fromValue" type="xs:string"/>
      <xs:element minOccurs="0" name="toValue" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="pendingService">
    <xs:complexContent>
      <xs:extension base="tns:infraService">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="providerRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="date" type="xs:anySimpleType"/>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="tns:emailMessage"/>
      <xs:element minOccurs="0" name="providerId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="vocabulary">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="extras" type="tns:extrasMapType"/>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="parentId" type="xs:string"/>
      <xs:element name="type" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
