eic-registry-model/src/main/resources/schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://einfracentral.eu" elementFormDefault="qualified" targetNamespace="http://einfracentral.eu" version="1.0">

  <xs:import schemaLocation="schema2.xsd"/>

  <xs:element name="event" type="tns:event"/>

  <xs:element name="funder" type="tns:funder"/>

  <xs:element name="indicator" type="tns:indicator"/>

  <xs:element name="infraService" type="tns:infraService"/>

  <xs:element name="measurement" type="tns:measurement"/>

  <xs:element name="provider" type="tns:provider"/>

  <xs:element name="rangeValue" type="tns:rangeValue"/>

  <xs:element name="service" type="tns:service"/>

  <xs:element name="serviceMetadata" type="tns:serviceMetadata"/>

  <xs:element name="user" type="tns:user"/>

  <xs:element name="vocabulary" type="tns:vocabulary"/>

  <xs:element name="vocabularyEntry" type="tns:vocabularyEntry"/>

  <xs:complexType final="extension restriction" name="entryMapAdapter">
    <xs:complexContent>
      <xs:extension base="xmlAdapter">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="genericMap">
    <xs:sequence>
      <xs:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="entry" type="tns:genericMapEntry"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="genericMapEntry">
    <xs:sequence>
      <xs:element form="unqualified" minOccurs="0" name="key" type="xs:string"/>
      <xs:element form="unqualified" minOccurs="0" name="value" type="tns:vocabularyEntry"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="vocabularyEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="children">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="child" type="tns:vocabularyEntry"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="entryId" type="xs:string"/>
      <xs:element minOccurs="0" name="entryName" type="xs:string"/>
      <xs:element minOccurs="0" name="extras" type="tns:extrasMap"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="extrasMap">
    <xs:sequence>
      <xs:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="entry" type="tns:extras"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="extras">
    <xs:sequence>
      <xs:element form="unqualified" minOccurs="0" name="key" type="xs:string"/>
      <xs:element form="unqualified" minOccurs="0" name="value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="event">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="instant" type="xs:long"/>
      <xs:element name="service" type="xs:string"/>
      <xs:element name="type" type="xs:string"/>
      <xs:element name="user" type="xs:string"/>
      <xs:element minOccurs="0" name="value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="extrasMapAdapter">
    <xs:complexContent>
      <xs:extension base="xmlAdapter">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="funder">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="logo" type="xs:anyURI"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="services">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="service" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="indicator">
    <xs:sequence>
      <xs:element name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="dimensions">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="dimension" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="unit" type="xs:string"/>
      <xs:element name="unitName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="infraService">
    <xs:complexContent>
      <xs:extension base="tns:service">
        <xs:sequence>
          <xs:element minOccurs="0" name="active" type="xs:boolean"/>
          <xs:element name="latest" type="xs:boolean"/>
          <xs:element minOccurs="0" ref="tns:serviceMetadata"/>
          <xs:element minOccurs="0" name="status" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="service">
    <xs:sequence>
      <xs:element name="category" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[A named group of services that offer access to the same type of resource that is of interest to a customer/user.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="changeLog" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[A log of the service features added in the last and previous versions.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[High-level description in fairly non-technical terms of what the service does, functionality it provides and resources it enables access to.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="feedback" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[The Uniform Resource Locator (web address) to the page where customers can provide feedback on the service.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="funding" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Sources of funding for the development and/or operation of the service.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="helpdesk" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[The Uniform Resource Locator (web address) to a webpage with the contact person or helpdesk to ask more information from the service provider about this service.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Global unique and persistent identifier of the service.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="languages">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="language" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="lastUpdate" type="xs:anySimpleType">
        <xs:annotation>
          <xs:documentation><![CDATA[The date of the latest update of the service.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lifeCycleStatus" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Used to tag the service to the full service cycle.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="multimediaURL" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[The Uniform Resource Locator (web address) to the multimedia material of the service (screenshots or videos).]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Brief and descriptive name of service as assigned by the service provider.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="options" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[A high-level description of the various options or forms in which the service can be instantiated.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="order" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[The Uniform Resource Locator (web address) to the webpage to request the service from the service provider.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="places">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="place" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="price" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[The Uniform Resource Locator (web address) to the information about the payment models that apply, the cost and any related information.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="providers">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="provider" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="relatedServices">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="relatedService" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="requests" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[(Deprecated) Link to request the service from the service provider]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="requiredServices">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="requiredService" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="serviceLevelAgreement" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[The Uniform Resource Locator (web address) to the information about the levels of performance that a service provider is expected to achieve.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="subcategory" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Type/Subcategory of service within a category]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="symbol" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[The Uniform Resource Locator (web address) to the logo/visual identity of the service.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="tagline" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Short text, catch line or slogan which serves mainly marketing and advertising purposes.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="tags">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="tag" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="targetUsers" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Type of users/customers allowed to commission/benefit from the service.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="termsOfUse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="termOfUse" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="trainingInformation" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[The Uniform Resource Locator (web address) to training information on the service.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="trl" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Used to tag the service to the Technology Readiness Level, a method of estimating technology ma-turity of critical technology elements. TRL are based on a scale from 1 to 9 with 9 being the most ma-ture technology.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="url" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[The Uniform Resource Locator (web address) to the entry web page of the service usually hosted and maintained by the service provider.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="userBase" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[List of customers, communities, users, etc using the service.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="userManual" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[The Uniform Resource Locator (web address) to the service user manual and documentation]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="userValue" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Description of the benefit delivered to a customer/user by the service.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="validFor" type="xs:anySimpleType">
        <xs:annotation>
          <xs:documentation><![CDATA[The date up to which the service description is valid.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="version" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Informs about the service version that is in force.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="serviceMetadata">
    <xs:sequence>
      <xs:element default="null" minOccurs="0" name="modifiedAt" type="xs:string"/>
      <xs:element default="null" minOccurs="0" name="modifiedBy" type="xs:string"/>
      <xs:element default="null" minOccurs="0" name="registeredAt" type="xs:string"/>
      <xs:element default="null" minOccurs="0" name="registeredBy" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="measurement">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="indicatorId" type="xs:string"/>
      <xs:element minOccurs="0" name="locations">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="location" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" ref="tns:rangeValue"/>
      <xs:element name="serviceId" type="xs:string"/>
      <xs:element minOccurs="0" name="time" type="xs:anySimpleType"/>
      <xs:element minOccurs="0" name="value" type="xs:string"/>
      <xs:element name="valueIsRange" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="rangeValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="fromValue" type="xs:string"/>
      <xs:element minOccurs="0" name="toValue" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="newVocabulariesExtrasMapAdapter">
    <xs:complexContent>
      <xs:extension base="xmlAdapter">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="newVocabulary">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="extras" type="newVocabulariesExtrasMap"/>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="parentId" type="xs:string"/>
      <xs:element name="type" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="provider">
    <xs:sequence>
      <xs:element minOccurs="0" name="active" type="xs:boolean"/>
      <xs:element name="additionalInfo" type="xs:string"/>
      <xs:element minOccurs="0" name="catalogueOfResources" type="xs:anyURI"/>
      <xs:element minOccurs="0" name="contactInformation" type="xs:string"/>
      <xs:element name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="logo" type="xs:anyURI"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="publicDescOfResources" type="xs:anyURI"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
      <xs:element minOccurs="0" name="users">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:user"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="website" type="xs:anyURI"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="user">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="surname" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="richService">
    <xs:complexContent>
      <xs:extension base="tns:service">
        <xs:sequence>
          <xs:element minOccurs="0" name="categoryName" type="xs:string"/>
          <xs:element name="favourites" type="xs:int"/>
          <xs:element name="hasRate" type="xs:float"/>
          <xs:element name="isFavourite" type="xs:boolean"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="languageNames" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="lifeCycleStatusName" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="placeNames" nillable="true" type="xs:string"/>
          <xs:element name="ratings" type="xs:int"/>
          <xs:element minOccurs="0" ref="tns:serviceMetadata"/>
          <xs:element minOccurs="0" name="subCategoryName" type="xs:string"/>
          <xs:element minOccurs="0" name="trlName" type="xs:string"/>
          <xs:element name="userRate" type="xs:float"/>
          <xs:element name="views" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="serviceHistory">
    <xs:complexContent>
      <xs:extension base="tns:serviceMetadata">
        <xs:sequence>
          <xs:element minOccurs="0" name="coreVersionId" type="xs:string"/>
          <xs:element minOccurs="0" name="version" type="xs:string"/>
          <xs:element name="versionChange" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="vocabulary">
    <xs:sequence>
      <xs:element minOccurs="0" name="entries" type="tns:genericMap"/>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
