eic-registry-model/src/main/resources/schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://einfracentral.eu" elementFormDefault="qualified" targetNamespace="http://einfracentral.eu" version="1.0">

  <xs:import schemaLocation="schema2.xsd"/>

  <xs:element name="event" type="tns:event"/>

  <xs:element name="funder" type="tns:funder"/>

  <xs:element name="indicator" type="tns:indicator"/>

  <xs:element name="infraService" type="tns:infraService"/>

  <xs:element name="measurement" type="tns:measurement"/>

  <xs:element name="provider" type="tns:provider"/>

  <xs:element name="rangeValue" type="tns:rangeValue"/>

  <xs:element name="service" type="tns:service"/>

  <xs:element name="serviceMetadata" type="tns:serviceMetadata"/>

  <xs:element name="serviceOption" type="tns:serviceOption"/>

  <xs:element name="user" type="tns:user"/>

  <xs:element name="vocabulary" type="tns:vocabulary"/>

  <xs:complexType name="event">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="instant" type="xs:long"/>
      <xs:element name="service" type="xs:string"/>
      <xs:element name="type" type="xs:string"/>
      <xs:element name="user" type="xs:string"/>
      <xs:element minOccurs="0" name="value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="extrasMapType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="entry" nillable="true" type="tns:extrasType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="extrasType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="key" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="extrasMapTypeAdapter">
    <xs:complexContent>
      <xs:extension base="xmlAdapter">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="funder">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="logo" type="xs:anyURI"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="services">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="service" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="indicator">
    <xs:sequence>
      <xs:element name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="dimensions">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="dimension" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="unit" type="xs:string"/>
      <xs:element name="unitName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="infraService">
    <xs:complexContent>
      <xs:extension base="tns:service">
        <xs:sequence>
          <xs:element minOccurs="0" name="active" type="xs:boolean"/>
          <xs:element name="latest" type="xs:boolean"/>
          <xs:element minOccurs="0" ref="tns:serviceMetadata"/>
          <xs:element minOccurs="0" name="status" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="service">
    <xs:sequence>
      <xs:element minOccurs="0" name="accessModes">
        <xs:annotation>
          <xs:documentation><![CDATA[The mode a user can access the service.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="accessMode" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="accessPolicy" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[Webpage to the information about the access policies that apply.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="accessTypes">
        <xs:annotation>
          <xs:documentation><![CDATA[The way a user can access the service.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="accessType" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="certifications">
        <xs:annotation>
          <xs:documentation><![CDATA[List of certifications obtained for the service from independent third parties.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="certification" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="changeLog" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Summary of the service features updated from the previous version.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[A high-level description in fairly non-technical terms of what the service does, functionality it provides and resources it enables to access.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="funders">
        <xs:annotation>
          <xs:documentation><![CDATA[Sources of funding for the development and/or operation of the service.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="funder" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="helpdesk" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[The URL to a webpage with the contact person or helpdesk to ask more information from the service provider about this service.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Global unique and persistent identifier of the service.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="languages">
        <xs:annotation>
          <xs:documentation><![CDATA[Languages of the user interface of the service.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="language" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="lastUpdate" type="xs:anySimpleType">
        <xs:annotation>
          <xs:documentation><![CDATA[Date of the latest update of the service.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="logo" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[Link to the logo/visual identity of the service.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="maintenance" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[Webpage with information about planned maintenance windows for this service.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="manual" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[Link to the service user manual and documentation.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="monitoring" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[Webpage with monitoring information about this service.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="multimediaUrls">
        <xs:annotation>
          <xs:documentation><![CDATA[Link to video, screenshots or slides showing details of the service.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="multimediaUrl" type="xs:anyURI"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Brief and descriptive name of service as assigned by the service provider.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="options">
        <xs:annotation>
          <xs:documentation><![CDATA[High-level description of the various options or forms in which the service can be instantiated.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="option" type="tns:serviceOption"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="order" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[Webpage to request the service from the service provider.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="orderType" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Described id the service can be accessed with an ordering process.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ownerContact" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[E-mail contact of the service owner.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ownerName" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Name of the person who has accountability for the whole service from a management point of view.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="paymentModel" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[Webpage with the supported payment models and restrictions that apply to each of them.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="phase" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Phase of the service lifecycle.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="places">
        <xs:annotation>
          <xs:documentation><![CDATA[Countries where the service is offered.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="place" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="pricing" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[Webpage with the information on the price scheme for this service in case the customer is charged for.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="privacyPolicy" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[Link to the privacy policy applicable to the service.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="providers">
        <xs:annotation>
          <xs:documentation><![CDATA[The organisation that manages and delivers the service.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="provider" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="relatedServices">
        <xs:annotation>
          <xs:documentation><![CDATA[List of other services that are commonly used with this service.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="relatedService" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="requiredServices">
        <xs:annotation>
          <xs:documentation><![CDATA[List of other services required with this service.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="requiredService" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="scientificSubdomains">
        <xs:annotation>
          <xs:documentation><![CDATA[The subbranch of science, scientific subdicipline that is related to the service.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="scientificSubdomain" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="securityContact" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Contact of the person responsible for the security aspects of the service.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="securityName" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Name of the person responsible for the security aspects of the service.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="sla" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[Webpage with the information about the levels of performance that a service provider is expected to achieve.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="standards">
        <xs:annotation>
          <xs:documentation><![CDATA[List of standards supported by the service.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="standard" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="subcategories">
        <xs:annotation>
          <xs:documentation><![CDATA[A named group of services that offer access to the same type of resource or capabilities, within the defined service category.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subcategory" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="supportContact" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[E-mail contact of the person to request technical/operational support.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="supportName" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Name of the person to request technical/operational support.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="tagline" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Short catch-phrase for marketing and advertising purposes. It will be usually displayed close the service name and should refer to the main value or purpose of the service.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="tags">
        <xs:annotation>
          <xs:documentation><![CDATA[Comma-separated list of keywords associated to the service to simplify search by relevant keywords.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="tag" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="targetUsers">
        <xs:annotation>
          <xs:documentation><![CDATA[Type of users/customers that commissions a service provider to deliver a service.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="targetUser" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="termsOfUse" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[Webpage describing the rules, service conditions and usage policy which one must agree to abide by in order to use the service.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="training" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[Webpage to training information on the service.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="trl" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[The Technology Readiness Level of the Tag of the service.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="url" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[Webpage with information about the service usually hosted and maintained by the service provider.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="useCases">
        <xs:annotation>
          <xs:documentation><![CDATA[List of use cases supported by this service/resource.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="useCase" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="userBaseList">
        <xs:annotation>
          <xs:documentation><![CDATA[List of customers, communities, users, etc using the service.]]></xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="userBase" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="userValue" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[The benefit to a customer and their users delivered by a service; benefits are usually related to alleviating pains (e.g., eliminate undesired outcomes, obstacles or risks) or producing gains (e.g. increased performance, social gains, positive emotions or cost saving).]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="version" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Version of the service that is in force.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="serviceMetadata">
    <xs:sequence>
      <xs:element default="null" minOccurs="0" name="modifiedAt" type="xs:string"/>
      <xs:element default="null" minOccurs="0" name="modifiedBy" type="xs:string"/>
      <xs:element default="null" minOccurs="0" name="registeredAt" type="xs:string"/>
      <xs:element default="null" minOccurs="0" name="registeredBy" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="serviceOption">
    <xs:sequence>
      <xs:element name="description" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[The description of the service option.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Identifier of the service option.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="logo" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[Link to the logo/visual identity of the service provider.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Name of the service option.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="url" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[Webpage with information about the service option.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="measurement">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="indicatorId" type="xs:string"/>
      <xs:element minOccurs="0" name="locations">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="location" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" ref="tns:rangeValue"/>
      <xs:element name="serviceId" type="xs:string"/>
      <xs:element minOccurs="0" name="time" type="xs:anySimpleType"/>
      <xs:element minOccurs="0" name="value" type="xs:string"/>
      <xs:element name="valueIsRange" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="rangeValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="fromValue" type="xs:string"/>
      <xs:element minOccurs="0" name="toValue" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="provider">
    <xs:sequence>
      <xs:element minOccurs="0" name="active" type="xs:boolean"/>
      <xs:element name="contactEmail" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Email of the main contact person of the service provider.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="contactName" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Name of the main contact person of the service provider.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="contactTel" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Telephone of the main contact person of the service provider.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[The description of the service provider.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Identifier of the service provider.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="logo" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[Link to the logo/visual identity of the service provider.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Name of the service provider.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
      <xs:element name="users">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:user"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="website" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation><![CDATA[Webpage with information about the service provider.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="user">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="surname" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="vocabulary">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="extras" type="tns:extrasMapType"/>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="parentId" type="xs:string"/>
      <xs:element name="type" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
