src/main/xsd/OMTD-SHARE-Corpus.xsd

<?xml version="1.0" ?><xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" jaxb:extensionBindingPrefixes="xjc simplify" jaxb:version="1.0" targetNamespace="http://www.meta-share.org/OMTD-SHARE_XMLSchema" version="2.0.0" xml:lang="en" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:ms="http://www.meta-share.org/OMTD-SHARE_XMLSchema" xmlns:simplify="http://jaxb2-commons.dev.java.net/basic/simplify" xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="./OMTD-SHARE-GlobalTypes.xsd"/>
	<xs:include schemaLocation="./OMTD-SHARE-ResourceCommon.xsd"/>
	<xs:complexType name="corpusInfoType">
		<xs:annotation>
			<xs:appinfo>
				<render-short>{identificationInfo/resourceName}</render-short>
			<jaxb:class name="CorpusInfo"/></xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element fixed="corpus" name="resourceType" type="xs:string">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<label>Resource type</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ms:identificationInfo"/>
			<xs:element maxOccurs="1" ref="ms:contactInfo"/>
			<xs:element ref="ms:versionInfo"/>
			<xs:element minOccurs="0" name="validationInfos">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="ms:validationInfo"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" ref="ms:usageInfo"/>
			<xs:element minOccurs="0" ref="ms:resourceDocumentationInfo"/>
			<xs:element minOccurs="0" ref="ms:resourceCreationInfo"/>
			<xs:element minOccurs="0" name="relations">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="ms:relationInfo"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="distributionInfos">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" ref="ms:datasetDistributionInfo"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="corpusSubtypeSpecificInfo">
				<xs:complexType>
					<xs:choice>
						<xs:annotation><xs:appinfo><simplify:as-element-property/></xs:appinfo></xs:annotation><xs:element minOccurs="1" ref="ms:rawCorpusInfo"/>
						<xs:element minOccurs="1" ref="ms:annotatedCorpusInfo"/>
						<xs:element minOccurs="1" ref="ms:annotationsInfo"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rawCorpusInfoType">
		<xs:annotation>
			<xs:documentation>Groups together all information related to raw corpora</xs:documentation>
		<xs:appinfo><jaxb:class name="RawCorpusInfo"/></xs:appinfo></xs:annotation>
		<xs:sequence>
			<xs:element fixed="rawCorpus" name="corpusSubtype" type="xs:string"/>
			
			<xs:element name="corpusMediaPartsType">
				<xs:annotation>
					<xs:documentation>Used to specify the media type specific to corpora and group together the relevant information</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Media type component of corpus</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="corpusTextParts">
							<xs:complexType>
								<xs:sequence>
									<xs:element maxOccurs="unbounded" ref="ms:corpusTextPartInfo">
										<xs:annotation>
											<xs:documentation>Groups together information on the text component of a resource</xs:documentation>
											<xs:appinfo>
												<recommended>true</recommended>
												<relation>one-to-many</relation>
												<label>Corpus text part</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="annotatedCorpusInfoType">
		<xs:annotation>
			<xs:documentation>Groups together all information related to annotated corpora</xs:documentation>
		<xs:appinfo><jaxb:class name="AnnotatedCorpusInfo"/></xs:appinfo></xs:annotation>
		<xs:sequence>
			<xs:element fixed="annotatedCorpus" name="corpusSubtype" type="xs:string"/>
			
			<xs:element name="corpusMediaParts">
				<xs:annotation>
					<xs:documentation>Used to specify the media type specific to corpora and group together the relevant information</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Media type parts of corpus</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="corpusTextParts">
							<xs:complexType>
								<xs:sequence>
									<xs:element maxOccurs="unbounded" ref="ms:corpusTextPartInfo">
										<xs:annotation>
											<xs:documentation>Groups together information on the text component of a resource</xs:documentation>
											<xs:appinfo>
												<recommended>true</recommended>
												<relation>one-to-many</relation>
												<label>Corpus text part</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="annotations">
							<xs:complexType>
								<xs:sequence>
									<xs:element maxOccurs="unbounded" ref="ms:annotationInfo"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="corpusTextPartInfoType">
		<xs:annotation>
			<xs:appinfo>
				<render-short>text ({lingualityInfo} {languageInfo})</render-short>
			<jaxb:class name="CorpusTextPartInfo"/></xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element fixed="text" name="mediaType" type="xs:string">
				<xs:annotation>
					<xs:documentation>Specifies the media type of the resource and basically corresponds to the physical medium of the content representation. Each media type is described through a distinctive set of features. A resource may consist of parts attributed to different types of media. A tool/service may take as input/output more than one different media types.</xs:documentation>
					<xs:appinfo>
						<label>Media type</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ms:lingualityInfo">
				<xs:annotation>
					<xs:documentation>Groups information on the number of languages of the resource part and of the way they are combined to each other</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Linguality</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="1" name="languages">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" ref="ms:languageInfo">
							<xs:annotation>
								<xs:documentation>Groups information on the languages represented in the resource</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Language</label>
									<recommended>true</recommended>
									<usage-ugc>To be created automatically by the system; create one for each language of the publications</usage-ugc>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element maxOccurs="1" minOccurs="1" name="sizes">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" ref="ms:sizeInfo">
							<xs:annotation>
								<xs:documentation>Groups information on the size of the resource or of resource parts</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<inline-type>tabular</inline-type>
									<label>Size</label>
									<recommended>true</recommended>
									<usage-ugc>To be created automatically by the system using [number] with [file]</usage-ugc>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="textFormats">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="ms:textFormatInfo">
							<xs:annotation>
								<xs:documentation>Groups information on the text format(s) of a resource</xs:documentation>
								<xs:appinfo>
									<recommended>true</recommended>
									<relation>one-to-many</relation>
									<inline-type>tabular</inline-type>
									<label>Text format</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="characterEncodings">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="ms:characterEncodingInfo">
							<xs:annotation>
								<xs:documentation>Groups together information on character encoding of the resource</xs:documentation>
								<xs:appinfo>
									<recommended>true</recommended>
									<relation>one-to-many</relation>
									<inline-type>tabular</inline-type>
									<label>Character encoding</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="domains">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="ms:domainInfo">
							<xs:annotation>
								<xs:documentation>Groups together information on domains represented in the resource; can be repeated for parts of the resource with distinct domain</xs:documentation>
								<xs:appinfo>
									<recommended>true</recommended>
									<relation>one-to-many</relation>
									<inline-type>tabular</inline-type>
									<label>Domain</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="textClassifications">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="ms:textClassificationInfo">
							<xs:annotation>
								<xs:documentation>Groups together information on text type/genre of the resource</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Text classification</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="timeClassifications">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="ms:timeCoverageInfo">
							<xs:annotation>
								<xs:documentation>Groups together information on time classification of the resource</xs:documentation>
								<xs:appinfo>
									<recommended>true</recommended>
									<relation>one-to-many</relation>
									<inline-type>tabular</inline-type>
									<label>Time coverage</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="geographicClassifications">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="ms:geographicCoverageInfo">
							<xs:annotation>
								<xs:documentation>Groups information on geographic classification of the resource</xs:documentation>
								<xs:appinfo>
									<recommended>true</recommended>
									<relation>one-to-many</relation>
									<inline-type>tabular</inline-type>
									<label>Geographic coverage</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" ref="ms:creationInfo">
				<xs:annotation>
					<xs:documentation>Groups together information on the resource creation (e.g. for corpora, selection of texts/audio files/ video files etc.; for lexica, construction of lemma list etc.)</xs:documentation>
					<xs:appinfo>
						<recommended>true</recommended>
						<relation>one-to-one</relation>
						<label>Creation</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="annotationsInfoType">
		<xs:annotation><xs:appinfo><jaxb:class name="AnnotationsInfo"/></xs:appinfo></xs:annotation><xs:sequence>
			<xs:element fixed="annotations" name="corpusSubtype" type="xs:string"/>
			<xs:element name="rawCorpus" type="ms:relatedResourceType"/>
			<xs:element ref="ms:annotationInfo"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="corpusMetadataRecord">
		<xs:annotation>
			<xs:appinfo>
				<xs:label>Metadata record for corpora</xs:label>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ms:baseMetadataRecord">
					<xs:sequence>
						<xs:element ref="ms:corpusInfo"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="corpusInfo" type="ms:corpusInfoType">
		<xs:annotation>
			<xs:documentation>Groups together all information related to corpora</xs:documentation>
			<xs:appinfo>
				<label>Corpus</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="corpusTextPartInfo" type="ms:corpusTextPartInfoType">
		<xs:annotation>
			<xs:documentation>Groups together information on the text component of a resource</xs:documentation>
			<xs:appinfo>
				<label>Corpus text part</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="rawCorpusInfo" type="ms:rawCorpusInfoType">
		<xs:annotation>
			<xs:documentation>Groups together information on corpora of all media types</xs:documentation>
			<xs:appinfo>
				<label>Raw corpus</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="annotatedCorpusInfo" type="ms:annotatedCorpusInfoType">
		<xs:annotation>
			<xs:documentation>Groups together information on annotated corpora of all media types</xs:documentation>
			<xs:appinfo>
				<label>Annotated corpus</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="annotationsInfo" type="ms:annotationsInfoType">
		<xs:annotation>
			<xs:documentation>Groups together information on annotations</xs:documentation>
			<xs:appinfo>
				<label>Annotations</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
</xs:schema>