src/main/xsd/OMTD-SHARE-Actors.xsd

<?xml version="1.0" ?><xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" jaxb:extensionBindingPrefixes="xjc simplify" jaxb:version="1.0" targetNamespace="http://www.meta-share.org/OMTD-SHARE_XMLSchema" version="2.0.0" xml:lang="en" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:ms="http://www.meta-share.org/OMTD-SHARE_XMLSchema" xmlns:simplify="http://jaxb2-commons.dev.java.net/basic/simplify" xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="./OMTD-SHARE-ISOVocabularies.xsd"/>
	<xs:include schemaLocation="./OMTD-SHARE-GlobalTypes.xsd"/>
	
	<xs:complexType name="personInfoType">
		<xs:annotation>
			<xs:documentation>Groups information relevant to persons related to the resource; to be used mainly for contact persons, resource creators, validators, annotators etc. for whom personal data can be provided</xs:documentation>
			<xs:appinfo>
				<render-short>{surname} {givenName} {communicationInfo/email} {affiliation}</render-short>
				<label>Person</label>
				<label-plural>Persons</label-plural>
			<jaxb:class name="PersonInfo"/></xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:annotation><xs:appinfo><simplify:as-element-property/></xs:appinfo></xs:annotation><xs:sequence>
					<xs:element name="separateNames">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="surnames">
									<xs:complexType>
										<xs:sequence>
											<xs:element maxOccurs="unbounded" name="surname">
												<xs:annotation>
													<xs:documentation>The surname (family name) of a person</xs:documentation>
													<xs:appinfo>
														<relation>one-to-many</relation>
														<label>Surname</label>
														<label-plural>Surnames</label-plural>
														<xs:userTip>For multilingual elements: you can repeat the element for the different language versions using the &quot;lang&quot; attribute to specify the language</xs:userTip>
														<sameAs>foaf:familyName</sameAs>
													</xs:appinfo>
												</xs:annotation>
												<xs:complexType>
													<xs:simpleContent>
														<xs:restriction base="ms:myString">
															<xs:maxLength value="100"/>
														</xs:restriction>
													</xs:simpleContent>
												</xs:complexType>
												<xs:unique name="uniqueLang7">
													<xs:selector xpath="."/>
													<xs:field xpath="@lang"/>
												</xs:unique>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element minOccurs="0" name="givenNames">
									<xs:complexType>
										<xs:sequence>
											<xs:element maxOccurs="unbounded" minOccurs="0" name="givenName">
												<xs:annotation>
													<xs:documentation>The given name (first name) of a person; initials can also be used</xs:documentation>
													<xs:appinfo>
														<recommended>true</recommended>
														<relation>one-to-many</relation>
														<label>Given name</label>
														<label-plural>Given name</label-plural>
														<xs:userTip>For multilingual elements: you can repeat the element for the different language versions using the &quot;lang&quot; attribute to specify the language</xs:userTip>
														<sameAs>foaf:givenName</sameAs>
													</xs:appinfo>
												</xs:annotation>
												<xs:complexType>
													<xs:simpleContent>
														<xs:restriction base="ms:myString">
															<xs:maxLength value="100"/>
														</xs:restriction>
													</xs:simpleContent>
												</xs:complexType>
												<xs:unique name="uniqueLang6">
													<xs:selector xpath="."/>
													<xs:field xpath="@lang"/>
												</xs:unique>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:element name="names">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="name">
								<xs:annotation>
									<xs:documentation>The full name of a person; the preferred format is &quot;family name, given name&quot;</xs:documentation>
									<xs:appinfo>
										<relation>one-to-many</relation>
										<label>Name</label>
										<label-plural>Names</label-plural>
										<sameAs>foaf:name</sameAs>
										<xs:userTip>For multilingual elements: you can repeat the element for the different language versions using the &quot;lang&quot; attribute to specify the language</xs:userTip>
									</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:simpleContent>
										<xs:restriction base="ms:myString">
											<xs:maxLength value="100"/>
											<xs:attribute name="lang" type="xs:language"/>
										</xs:restriction>
									</xs:simpleContent>
								</xs:complexType>
								<xs:unique name="uniqueLang123">
									<xs:selector xpath="."/>
									<xs:field xpath="@lang"/>
								</xs:unique>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:element minOccurs="0" name="personIdentifiers">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="ms:personIdentifier">
							<xs:annotation>
								<xs:appinfo>
									<recommended>true</recommended>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" ref="ms:sex">
				<xs:annotation>
					<xs:appinfo>
						<recommended>false</recommended>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" ref="ms:communicationInfo">
				<xs:annotation>
					<xs:documentation>Groups information on the communication details of a person, group or organization</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<recommended>true</recommended>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="affiliations">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="affiliation">
							<xs:annotation>
								<xs:documentation>Groups information on the organization to whom a person is affiliated</xs:documentation>
								<xs:appinfo>
									<relation>many-to-many</relation>
									<label>Affiliation</label>
									<label-plural>Affiliations</label-plural>
									<recommended>true</recommended>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element minOccurs="0" name="position">
										<xs:annotation>
											<xs:documentation>The position or the title of a person if affiliated to an organization</xs:documentation>
											<xs:appinfo>
												<relation>one-to-one</relation>
												<label>Position</label>
												<label-plural>Positions</label-plural>
												<recommended>true</recommended>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="affiliatedOrganization" type="ms:organizationInfoType">
										<xs:annotation>
											<xs:documentation>The organization to which a person is affiliated</xs:documentation>
											<xs:appinfo>
												<relation>one-to-one</relation>
												<label>Affiliated organization</label>
												<label-plural>Affiliated organizations</label-plural>
												<recommended>true</recommended>
											</xs:appinfo>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="communicationInfoType">
		<xs:annotation>
			<xs:appinfo>
				<render-short>{email} {telephoneNumber}</render-short>
			<jaxb:class name="CommunicationInfo"/></xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="emails">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="email" type="ms:emailAddress">
							<xs:annotation>
								<xs:documentation>The email address of a person, group or organization</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Email address</label>
									<label>Email addresses</label>
									<sameAs>foaf:mbox</sameAs>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="homepages">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="homepage" type="ms:httpURI">
							<xs:annotation>
								<xs:documentation>A URL used as homepage of a person, group or organization</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Homepage</label>
									<label-plural>Homepages</label-plural>
									<sameAs>foaf:homepage</sameAs>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="postalAddress">
				<xs:annotation>
					<xs:documentation>The postal address of a person, group or organization</xs:documentation>
					<xs:appinfo>
						<label>Postal address</label>
						<label-plural>Postal addresses</label-plural>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="address">
							<xs:annotation>
								<xs:documentation>The street and the number of the postal address of a person or organization</xs:documentation>
								<xs:appinfo>
									<relation>one-to-one</relation>
									<label>Address</label>
									<label-plural>Addresses</label-plural>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="200"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element minOccurs="0" name="zipCode">
							<xs:annotation>
								<xs:documentation>The zip code of the postal address of a person or organization</xs:documentation>
								<xs:appinfo>
									<relation>one-to-one</relation>
									<label>Zip code</label>
									<label-plural>Zip codes</label-plural>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="30"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element minOccurs="0" name="city">
							<xs:annotation>
								<xs:documentation>The name of the city, town or village as mentioned in the postal address of a person or organization</xs:documentation>
								<xs:appinfo>
									<relation>one-to-one</relation>
									<label>City</label>
									<label-plural>Cities</label-plural>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element minOccurs="0" name="region">
							<xs:annotation>
								<xs:documentation>The name of the region, county or department as mentioned in the postal address of a person or organization</xs:documentation>
								<xs:appinfo>
									<relation>one-to-one</relation>
									<label>Region</label>
									<label-plural>Regions</label-plural>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element minOccurs="0" name="country" type="ms:regionIdType">
							<xs:annotation>
								<xs:documentation>The country mentioned in the postal address of a person or organization as defined in the list of values of ISO 3166</xs:documentation>
								<xs:appinfo>
									<iso>ISO3166</iso>
									<relation>one-to-one</relation>
									<label>Country (identifier)</label>
									<label-plural>Country (identifiers)</label-plural>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="telephoneNumbers">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="telephoneNumber">
							<xs:annotation>
								<xs:documentation>The telephone number of a person or an organization; recommended format: +_international code_city code_number</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Telephone number</label>
									<label-plural>Telephone numbers</label-plural>
									<sameAs>foaf:phone</sameAs>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="30"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="faxNumbers">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="faxNumber">
							<xs:annotation>
								<xs:documentation>The fax number of a person or an organization; recommended format: +_international code_city code_number</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Fax number</label>
									<label-plural>Fax numbers</label-plural>
									<broadMatch>foaf:phone</broadMatch>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="30"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="organizationInfoType">
		<xs:annotation>
			<xs:appinfo>
				<render-short>{organizationName} – department: {departmentName}</render-short>
			<jaxb:class name="OrganizationInfo"/></xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="organizationNames">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="organizationName">
							<xs:annotation>
								<xs:documentation>The full name of an organization</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Organization name</label>
									<label-plural>Organization names</label-plural>
									<xs:userTip>For multilingual elements: you can repeat the element for the different language versions using the &quot;lang&quot; attribute to specify the language</xs:userTip>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:restriction base="ms:myString">
										<xs:maxLength value="100"/>
									</xs:restriction>
								</xs:simpleContent>
							</xs:complexType>
							<xs:unique name="uniqueLang13">
								<xs:selector xpath="."/>
								<xs:field xpath="@lang"/>
							</xs:unique>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="organizationAlternativeNames">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="organizationAlternativeName">
							<xs:annotation>
								<xs:documentation>An alternative name (e.g. abbreviation, acronym, translation etc.) used for an organization</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Organization alternative name</label>
									<label-plural>Organization alternative names</label-plural>
									<recommended>true</recommended>
									<xs:userTip>For multilingual elements: you can repeat the element for the different language versions using the &quot;lang&quot; attribute to specify the language</xs:userTip>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="ms:myString">
										<xs:attribute ref="ms:nameType" use="required"/>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
							<xs:unique name="uniqueLang9">
								<xs:selector xpath="."/>
								<xs:field xpath="@lang"/>
							</xs:unique>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="organizationIdentifiers">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="ms:organizationIdentifier">
							<xs:annotation>
								<xs:appinfo>
									<recommended>true</recommended>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="departmentNames">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="departmentName">
							<xs:annotation>
								<xs:documentation>The name of the department or unit (e.g. specific university faculty/department, department/unit of a research organization or private company etc.)</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Department name</label>
									<label-plural>Department names</label-plural>
									<xs:userTip>For multilingual elements: you can repeat the element for the different language versions using the &quot;lang&quot; attribute to specify the language</xs:userTip>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="ms:myString">
										<xs:attribute ref="ms:nameType" use="optional"/>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
							<xs:unique name="uniqueLang8">
								<xs:selector xpath="."/>
								<xs:field xpath="@lang"/>
							</xs:unique>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" ref="ms:communicationInfo">
				<xs:annotation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<recommended>true</recommended>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="personInfo" type="ms:personInfoType">
		<xs:annotation>
			<xs:documentation>Groups information relevant to persons related to the resource; to be used mainly for contact persons, resource creators, validators, annotators etc. for whom personal data can be provided</xs:documentation>
			<xs:appinfo>
				<relation>one-to-one</relation>
				<label>Person</label>
				<label-plural>Persons</label-plural>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="communicationInfo" type="ms:communicationInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on the communication details of a person or an organization</xs:documentation>
			<xs:appinfo>
				<relation>one-to-one</relation>
				<label>Communication information</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="organizationInfo" type="ms:organizationInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on organizations related to the resource</xs:documentation>
			<xs:appinfo>
				<relation>one-to-one</relation>
				<label>Organization</label>
				<label-plural>Organizations</label-plural>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	
	<xs:element name="sex">
		<xs:annotation>
			<xs:documentation>Either of the two main categories (male and female) into which humans and most other living things are divided on the basis of their reproductive functions. (Source:OED)</xs:documentation>
			<xs:appinfo>
				<label>Sex</label>
				<label-plural>Sexes</label-plural>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:annotation><xs:appinfo><jaxb:typesafeEnumClass name="sexEnum"/></xs:appinfo></xs:annotation><xs:restriction base="xs:string">
				<xs:maxLength value="30"/>
				<xs:enumeration value="male">
					<xs:annotation>
						<xs:documentation>Of or denoting the sex that produces gametes, especially spermatozoa, with which a female may be fertilized or inseminated to produce offspring. (Source:OED)</xs:documentation>
						<xs:appinfo>
							<label>Male</label>
						</xs:appinfo>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="female">
					<xs:annotation>
						<xs:documentation>Of or denoting the sex that can bear offspring or produce eggs, distinguished biologically by the production of gametes (ova) which can be fertilized by male gametes. (Source:OED)</xs:documentation>
						<xs:appinfo>
							<label>Female</label>
						</xs:appinfo>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="unknown">
					<xs:annotation>
						<xs:documentation>Value for &quot;sex&quot;; to be used when the sex of a person is unknown</xs:documentation>
						<xs:appinfo>
							<label>Unknown</label>
						</xs:appinfo>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:attribute name="nameType">
		<xs:annotation>
			<xs:documentation>Allows to classify the type of the name of an entity</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:annotation><xs:appinfo><jaxb:typesafeEnumClass name="nameTypeEnum"/></xs:appinfo></xs:annotation><xs:restriction base="xs:string">
				<xs:enumeration value="shortName">
					<xs:annotation>
						<xs:documentation>Value for the type of name of an entity, indicating that it's a short form (e.g. abbreviation, acronym etc.)</xs:documentation>
						<xs:appinfo>
							<label>Short name</label>
							<label-plural>Short names</label-plural>
						</xs:appinfo>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="alternativeName">
					<xs:annotation>
						<xs:documentation>Value for the type of name of an entity, indicating that it's an alternative form without further indication</xs:documentation>
						<xs:appinfo>
							<label>Alternative name</label>
							<label-plural>Alternative names</label-plural>
						</xs:appinfo>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="translatedName">
					<xs:annotation>
						<xs:documentation>Value for the type of name of an entity, indicating that it's a translated form into another language</xs:documentation>
						<xs:appinfo>
							<label>Translated name</label>
							<label-plural>Translated names</label-plural>
						</xs:appinfo>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
</xs:schema>