src/main/xsd/OMTD-SHARE-Distributions.xsd

<?xml version="1.0" ?><xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" jaxb:extensionBindingPrefixes="xjc simplify" jaxb:version="1.0" targetNamespace="http://www.meta-share.org/OMTD-SHARE_XMLSchema" version="2.0.0" xml:lang="en" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:ms="http://www.meta-share.org/OMTD-SHARE_XMLSchema" xmlns:simplify="http://jaxb2-commons.dev.java.net/basic/simplify" xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="./OMTD-SHARE-Actors.xsd"/>
	<xs:include schemaLocation="./OMTD-SHARE-GlobalTypes.xsd"/>
	<xs:include schemaLocation="./OMTD-SHARE-TextSpecific.xsd"/>
	
	<xs:element name="distributionLoc">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ms:distributionMedium"/>
				<xs:element minOccurs="0" ref="ms:distributionURL">
					<xs:annotation>
						<xs:documentation>Any url where the resource can be downloaded from; please, use if the resource is &quot;downloadable&quot; and you have not uploaded the resource in the repository</xs:documentation>
						<xs:appinfo>
							<relation>one-to-many</relation>
							<label>Distribution URL</label>
							<broader>dcat:downloadURL</broader>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="documentDistributionInfoType">
		<xs:annotation>
			<xs:appinfo>
				<render-short>{distributionMedium}, licensing terms: {licenceInfo}</render-short>
			<jaxb:class name="DocumentDistributionInfo"/></xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ms:distributionLoc"/>
			<xs:element name="hashkey" type="xs:string">
				<xs:annotation>
					<xs:documentation>Specifies the hashkey for indexing and downloading the publication</xs:documentation>
					<xs:appinfo>
						<recommended>true</recommended>
						<relation>one-to-many</relation>
						<label>Hashkey</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="fullText">
				<xs:annotation>
					<xs:documentation>The full text of the publication in simple text format</xs:documentation>
					<xs:appinfo>
						<label>Full text</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:restriction base="ms:myString"/>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" ref="ms:dataFormatInfo">
				<xs:annotation>
					<xs:appinfo>
						<recommended>true</recommended>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" ref="ms:characterEncoding">
				<xs:annotation>
					<xs:appinfo>
						<recommended>true</recommended>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="sizes">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="ms:sizeInfo"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="ms:rightsInfo"/>
			<xs:element minOccurs="0" name="copyrightStatements">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="ms:copyrightStatement">
							<xs:annotation>
								<xs:documentation>A free text statement that may be included with the resource, usually containing the name(s) of copyright holders and licensing terms (intended for resources that already have such a statement); the element can be repeated for the different language versions using the &quot;lang&quot; attribute to specify the language.</xs:documentation>
								<xs:appinfo>
									<label>Copyright statement</label>
									<broadMatch>dct:rights</broadMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="attributionTexts">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="ms:attributionText">
							<xs:annotation>
								<xs:documentation>The text that must be quoted for attribution purposes when using a resource - for cases where a resource is provided with a restriction on attribution; you can use a standard text such as &quot;Resource A by Resource Creator/Owner B used under licence C as accessed at D&quot;</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Attribution text</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="rightsHolders">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="ms:rightsHolder">
							<xs:annotation>
								<xs:documentation>Groups information on a person or an organization who holds the Copyright and SGDB rights that subsist in the resource. The rights holder could be different from the creator that may have assigned the rights to another person or organization (e.g. an author as a creator assigns her rights to the publisher who is the rights holder) and the distributor that holds a specific licence (i.e. a permission) to distribute the work.</xs:documentation>
								<xs:appinfo>
									<relation>many-to-many</relation>
									<label>Rights holder</label>
									<broadMatch>dct:rightsHolder</broadMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" ref="ms:availabilityStartDate">
				<xs:annotation>
					<xs:documentation>Specifies the start date of availability of a resource - only for cases where a resource is available for a restricted time period.</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Availability start date</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" ref="ms:availabilityEndDate">
				<xs:annotation>
					<xs:documentation>Specifies the end date of availability of a resource - only for cases where a resource is available for a restricted time period.</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Availability end date</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" ref="ms:fee">
				<xs:annotation>
					<xs:documentation>Specifies the costs that are required to access the resource, a fragment of the resource or to use a component</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Fee</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="userTypes">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="ms:userType">
							<xs:annotation>
								<xs:documentation>The conditions imposed by the user type (for instance, use may be allowed only for academic users or the fee may vary depending on the user type)</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>User type</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="componentDistributionInfoType">
		<xs:annotation>
			<xs:appinfo>
				<render-short>{componentDistributionForm}, licensing terms: {licenceInfo}</render-short>
			<jaxb:class name="ComponentDistributionInfo"/></xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			
			<xs:element name="componentLoc">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="componentDistributionForm">
							<xs:annotation>
								<xs:documentation>Specifies the form of distribution of the component (e.g. as source code, executable programme etc.)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:annotation><xs:appinfo><jaxb:typesafeEnumClass name="componentDistributionFormEnum"/></xs:appinfo></xs:annotation><xs:restriction base="xs:string">
									<xs:enumeration value="webService">
										<xs:annotation>
											<xs:documentation>A component accessible through remote invocation typically using some REST-style APIs or SOAP protocols.</xs:documentation>
											<xs:appinfo>
												<label>web service</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="sourceCode">
										<xs:annotation>
											<xs:documentation>The distributable (delivery) form of a component containing the source code</xs:documentation>
											<xs:appinfo>
												<label>source code</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="executableCode">
										<xs:annotation>
											<xs:documentation>The distributable (delivery) form of a component with the executable code, i.e. that can be run on computer</xs:documentation>
											<xs:appinfo>
												<label>executable code</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="sourceAndExecutableCode">
										<xs:annotation>
											<xs:documentation>The distributable (delivery) form of a component that contains both the source and the executable codes</xs:documentation>
											<xs:appinfo>
												<label>source and executable code</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element ref="ms:distributionURL"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="command" type="xs:string">
				<xs:annotation>
					<xs:documentation>A command line used for the execution of a component</xs:documentation>
					<xs:appinfo>
						<relation>one-to-many</relation>
						<label>Command</label>
						<usage>To show if componentDistributionForm=webService</usage>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			
			<xs:element minOccurs="0" name="webServiceType">
				<xs:annotation>
					<xs:documentation>A classification of web services based on the protocol used for accessing them</xs:documentation>
					<xs:appinfo>
						<label>web service type</label>
						<usage>show only if componentDistributionForm=webService</usage>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:annotation><xs:appinfo><jaxb:typesafeEnumClass name="webServiceTypeEnum"/></xs:appinfo></xs:annotation><xs:restriction base="xs:string">
						<xs:enumeration value="SOAP">
							<xs:annotation>
								<xs:documentation>Web services that use SOAP (Simple Object Access Protocol)</xs:documentation>
								<xs:appinfo>
									<label>SOAP</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="REST">
							<xs:annotation>
								<xs:documentation>Web services that use REST (Representational State Transfer)</xs:documentation>
								<xs:appinfo>
									<label>REST</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="other">
							<xs:annotation>
								<xs:documentation>Value for webServiceType, to be used when the desired value is not included in the listed values</xs:documentation>
								<xs:appinfo>
									<label>other</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="operatingSystems">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="operatingSystem">
							<xs:annotation>
								<xs:documentation>The operating system on which the tool can run</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Operating system</label>
									<label-plural>Operating systems</label-plural>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:annotation><xs:appinfo><jaxb:typesafeEnumClass name="operatingSystemEnum"/></xs:appinfo></xs:annotation><xs:restriction base="xs:string">
									<xs:maxLength value="50"/>
									<xs:enumeration value="os-independent">
										<xs:annotation>
											<xs:documentation>Independent of operating systems</xs:documentation>
											<xs:appinfo>
												<label>Independent of operating systems</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="windows">
										<xs:annotation>
											<xs:documentation>Windows OS</xs:documentation>
											<xs:appinfo>
												<label>Windows OS</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="linux">
										<xs:annotation>
											<xs:documentation>Linux OS</xs:documentation>
											<xs:appinfo>
												<label>Linux OS</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="unix">
										<xs:annotation>
											<xs:documentation>Unix OS</xs:documentation>
											<xs:appinfo>
												<label>UNIX OS</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="mac-OS">
										<xs:annotation>
											<xs:documentation>MAC OS</xs:documentation>
											<xs:appinfo>
												<label>MAC OS</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="googleChromeOS">
										<xs:annotation>
											<xs:documentation>Google chrome OS</xs:documentation>
											<xs:appinfo>
												<label>Google chrome OS</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="iOS">
										<xs:annotation>
											<xs:documentation>iOS</xs:documentation>
											<xs:appinfo>
												<label>iOS</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="android">
										<xs:annotation>
											<xs:documentation>Android OS</xs:documentation>
											<xs:appinfo>
												<label>Android OS</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="other">
										<xs:annotation>
											<xs:documentation>Value for operatingSystem, to be used when the desired value is not included in the listed values</xs:documentation>
											<xs:appinfo>
												<label>Other</label>
											</xs:appinfo>
										</xs:annotation>
									</xs:enumeration>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="ms:rightsInfo"/>
			<xs:element minOccurs="0" name="copyrightStatements">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="ms:copyrightStatement">
							<xs:annotation>
								<xs:documentation>A free text statement that may be included with the resource, usually containing the name(s) of copyright holders and licensing terms (intended for resources that already have such a statement).</xs:documentation>
								<xs:appinfo>
									<label>Copyright statement</label>
									<broadMatch>dct:rights</broadMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="attributionTexts">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="ms:attributionText">
							<xs:annotation>
								<xs:documentation>The text that must be quoted for attribution purposes when using a resource - for cases where a resource is provided with a restriction on attribution; you can use a standard text such as &quot;Resource A by Resource Creator/Owner B used under licence C as accessed at D&quot;</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Attribution text</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="rightsHolders">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="ms:rightsHolder">
							<xs:annotation>
								<xs:documentation>Groups information on a person or an organization who holds the Copyright and SGDB rights that subsist in the resource. The rights holder could be different from the creator that may have assigned the rights to another person or organization (e.g. an author as a creator assigns her rights to the publisher who is the rights holder) and the distributor that holds a specific licence (i.e. a permission) to distribute the work.</xs:documentation>
								<xs:appinfo>
									<relation>many-to-many</relation>
									<label>Rights holder</label>
									<broadMatch>dct:rightsHolder</broadMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" ref="ms:availabilityStartDate">
				<xs:annotation>
					<xs:documentation>Specifies the start date of availability of a resource - only for cases where a resource is available for a restricted time period.</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Availability start date</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" ref="ms:availabilityEndDate">
				<xs:annotation>
					<xs:documentation>Specifies the end date of availability of a resource - only for cases where a resource is available for a restricted time period.</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Availability end date</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" ref="ms:fee">
				<xs:annotation>
					<xs:documentation>Specifies the costs that are required to access the resource, a fragment of the resource or to use a component</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Fee</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="userTypes">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="ms:userType">
							<xs:annotation>
								<xs:documentation>The conditions imposed by the user type (for instance, use may be allowed only for academic users or the fee may vary depending on the user type)</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>User type</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="datasetDistributionInfoType">
		<xs:annotation>
			<xs:appinfo>
				<render-short>{distributionMedium}, licensing terms: {licenceInfo}</render-short>
			<jaxb:class name="DatasetDistributionInfo"/></xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" ref="ms:distributionLoc"/>
			<xs:element minOccurs="0" name="textFormats">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="ms:textFormatInfo"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="characterEncodings">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="ms:characterEncodingInfo"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="sizes">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="ms:sizeInfo">
							<xs:annotation>
								<xs:appinfo>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="ms:rightsInfo">
				<xs:annotation>
					<xs:appinfo>
						<usage-ugc>To be automatically created by the system; use the values from the rightsInfo of the publications repeating them if there are multiple licenceInfo or rightsStatementsInfo with different values</usage-ugc>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="copyrightStatements">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="ms:copyrightStatement">
							<xs:annotation>
								<xs:documentation>A free text statement that may be included with the resource, usually containing the name(s) of copyright holders and licensing terms (intended for resources that already have such a statement); the element can be repeated for the different language versions using the &quot;lang&quot; attribute to specify the language.</xs:documentation>
								<xs:appinfo>
									<label>Copyright statement</label>
									<broadMatch>dct:rights</broadMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="attributionTexts">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="ms:attributionText">
							<xs:annotation>
								<xs:documentation>The text that must be quoted for attribution purposes when using a resource - for cases where a resource is provided with a restriction on attribution; you can use a standard text such as &quot;Resource A by Resource Creator/Owner B used under licence C as accessed at D&quot;</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>Attribution text</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="rightsHolders">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="ms:rightsHolder">
							<xs:annotation>
								<xs:documentation>Groups information on a person or an organization who holds the Copyright and SGDB rights that subsist in the resource. The rights holder could be different from the creator that may have assigned the rights to another person or organization (e.g. an author as a creator assigns her rights to the publisher who is the rights holder) and the distributor that holds a specific licence (i.e. a permission) to distribute the work.</xs:documentation>
								<xs:appinfo>
									<relation>many-to-many</relation>
									<label>Rights holder</label>
									<broadMatch>dct:rightsHolder</broadMatch>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" ref="ms:availabilityStartDate">
				<xs:annotation>
					<xs:documentation>Specifies the start date of availability of a resource - only for cases where a resource is available for a restricted time period.</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Availability start date</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" ref="ms:availabilityEndDate">
				<xs:annotation>
					<xs:documentation>Specifies the end date of availability of a resource - only for cases where a resource is available for a restricted time period.</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Availability end date</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" ref="ms:fee">
				<xs:annotation>
					<xs:documentation>Specifies the costs that are required to access the resource, a fragment of the resource or to use a component</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Fee</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="userTypes">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="ms:userType">
							<xs:annotation>
								<xs:documentation>The conditions imposed by the user type (for instance, use may be allowed only for academic users or the fee may vary depending on the user type)</xs:documentation>
								<xs:appinfo>
									<relation>one-to-many</relation>
									<label>User type</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="licenceInfoType">
		<xs:annotation>
			<xs:appinfo>
				<render-short>{licence} {restrictionsOfUse}</render-short>
				<userTip>You can provide information on the rights of accessing and using a resource in one of the following ways, in order of preference: (a) use the element &quot;licence&quot; and select one of the recommended licences; (b)  if the licence you use is not included in the list, you can use the &quot;nonStandardLicenceTerms&quot; or the &quot;proprietary&quot; values and give further information on your licence in the elements: &quot;nonStandardLicenceName&quot;, &quot;nonStandardLicenceTermsURL&quot; and &quot;nonStandardLicenceTermsText&quot;; (c) you can also use the &quot;rightsStatementName&quot; and the &quot;rightsStatementURL&quot; (with a link to a URL with more explanations on its usage) if the resource is provided with a general statement of use and not an official licence document; please, note that this is an option used mainly to facilitate end-users in accessing your resource, while you are strongly advised to properly license your resource.</userTip>
			<jaxb:class name="LicenceInfo"/></xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="licence">
				<xs:annotation>
					<xs:documentation>The licence of use for the resource</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Licence</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:annotation><xs:appinfo><jaxb:typesafeEnumClass name="licenceEnum"><jaxb:typesafeEnumMember name="M_DPPL_3_0" value="M-DPPL-3.0"/><jaxb:typesafeEnumMember name="F_DPPL_3_0" value="f-DPPL-3.0"/><jaxb:typesafeEnumMember name="EPL_1_0" value="EPL-1.0"/><jaxb:typesafeEnumMember name="LGPL_3_0" value="LGPL-3.0"/><jaxb:typesafeEnumMember name="GPL_3_0" value="GPL-3.0"/><jaxb:typesafeEnumMember name="GFDL_1_3" value="GFDL-1.3"/><jaxb:typesafeEnumMember name="APACHE_2_0" value="Apache-2.0"/><jaxb:typesafeEnumMember name="AGPL_1_0" value="AGPL-1.0"/><jaxb:typesafeEnumMember name="ODBL_1_0" value="ODbL-1.0"/><jaxb:typesafeEnumMember name="ODC_BY_1_0" value="ODC-BY-1.0"/><jaxb:typesafeEnumMember name="CC_BY_SA_3_0" value="CC-BY-SA-3.0"/><jaxb:typesafeEnumMember name="CC_BY_ND_3_0" value="CC-BY-ND-3.0"/><jaxb:typesafeEnumMember name="CC_BY_NC_SA_3_0" value="CC-BY-NC-SA-3.0"/><jaxb:typesafeEnumMember name="CC_BY_NC_ND_3_0" value="CC-BY-NC-ND-3.0"/><jaxb:typesafeEnumMember name="CC_BY_NC_3_0" value="CC-BY-NC-3.0"/><jaxb:typesafeEnumMember name="CC_BY_3_0" value="CC-BY-3.0"/><jaxb:typesafeEnumMember name="CC0_1_0" value="CC0-1.0"/><jaxb:typesafeEnumMember name="CC_BY_SA_4_0" value="CC-BY-SA-4.0"/><jaxb:typesafeEnumMember name="CC_BY_ND_4_0" value="CC-BY-ND-4.0"/><jaxb:typesafeEnumMember name="CC_BY_NC_SA_4_0" value="CC-BY-NC-SA-4.0"/><jaxb:typesafeEnumMember name="CC_BY_NC_ND_4_0" value="CC-BY-NC-ND-4.0"/><jaxb:typesafeEnumMember name="CC_BY_NC_4_0" value="CC-BY-NC-4.0"/><jaxb:typesafeEnumMember name="CC_BY_4_0" value="CC-BY-4.0"/></jaxb:typesafeEnumClass></xs:appinfo></xs:annotation><xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
						<xs:enumeration value="CC-BY-4.0">
							<xs:annotation>
								<xs:documentation>Creative Commons Attribution 4.0; cf. https://creativecommons.org/licenses/by/4.0/</xs:documentation>
								<xs:appinfo>
									<label>Creative Commons Attribution 4.0</label>
									<recomUsage>data</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="CC-BY-NC-4.0">
							<xs:annotation>
								<xs:documentation>Creative Commons Attribution Non Commercial 4.0; cf. https://creativecommons.org/licenses/by-nc/4.0/</xs:documentation>
								<xs:appinfo>
									<label>Creative Commons Attribution Non Commercial 4.0</label>
									<recomUsage>data</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="CC-BY-NC-ND-4.0">
							<xs:annotation>
								<xs:documentation>Creative Commons Attribution Non Commercial No Derivatives 4.0; cf. https://creativecommons.org/licenses/by-nc-nd/4.0/</xs:documentation>
								<xs:appinfo>
									<label>Creative Commons Attribution Non Commercial No Derivatives 4.0</label>
									<recomUsage>data</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="CC-BY-NC-SA-4.0">
							<xs:annotation>
								<xs:documentation>Creative Commons Attribution Non Commercial Share Alike 4.0; cf. https://creativecommons.org/licenses/by-nc-sa/4.0/</xs:documentation>
								<xs:appinfo>
									<label>Creative Commons Attribution Non Commercial Share Alike 4.0</label>
									<recomUsage>data</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="CC-BY-ND-4.0">
							<xs:annotation>
								<xs:documentation>Creative Commons Attribution No Derivatives 4.0; cf. https://creativecommons.org/licenses/by-nd/4.0/</xs:documentation>
								<xs:appinfo>
									<label>Creative Commons Attribution No Derivatives 4.0</label>
									<recomUsage>data</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="CC-BY-SA-4.0">
							<xs:annotation>
								<xs:documentation>Creative Commons Attribution Share Alike 4.0; cf. https://creativecommons.org/licenses/by-sa/4.0/</xs:documentation>
								<xs:appinfo>
									<label>Creative Commons Attribution Share Alike 4.0</label>
									<recomUsage>data</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="CC0-1.0">
							<xs:annotation>
								<xs:documentation>Creative Commons Zero 1.0 Universal; cf. https://creativecommons.org/publicdomain/zero/1.0/</xs:documentation>
								<xs:appinfo>
									<label>Creative Commons Zero 1.0 Universal</label>
									<recomUsage>data</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="CC-BY-3.0">
							<xs:annotation>
								<xs:documentation>Creative Commons Attribution 3.0 Unported; cf. https://creativecommons.org/licenses/by/3.0/</xs:documentation>
								<xs:appinfo>
									<label>Creative Commons Attribution 3.0 Unported</label>
									<recomUsage>data</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="CC-BY-NC-3.0">
							<xs:annotation>
								<xs:documentation>Creative Commons Attribution Non Commercial 3.0 Unported; cf. https://creativecommons.org/licenses/by-nc/3.0/</xs:documentation>
								<xs:appinfo>
									<label>Creative Commons Attribution Non Commercial 3.0 Unported</label>
									<recomUsage>data</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="CC-BY-NC-ND-3.0">
							<xs:annotation>
								<xs:documentation>Creative Commons Attribution Non Commercial No Derivatives 3.0 Unported; cf. https://creativecommons.org/licenses/by-nc-nd/3.0/</xs:documentation>
								<xs:appinfo>
									<label>Creative Commons Attribution Non Commercial No Derivatives 3.0 Unported</label>
									<recomUsage>data</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="CC-BY-NC-SA-3.0">
							<xs:annotation>
								<xs:documentation>Creative Commons Attribution Non Commercial Share Alike 3.0 Unported; cf. https://creativecommons.org/licenses/by-nc-sa/3.0/</xs:documentation>
								<xs:appinfo>
									<label>Creative Commons Attribution Non Commercial Share Alike 3.0 Unported</label>
									<recomUsage>data</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="CC-BY-ND-3.0">
							<xs:annotation>
								<xs:documentation>Creative Commons Attribution No Derivatives 3.0 Unported; cf. https://creativecommons.org/licenses/by-nd/3.0/</xs:documentation>
								<xs:appinfo>
									<label>Creative Commons Attribution No Derivatives 3.0 Unported</label>
									<recomUsage>data</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="CC-BY-SA-3.0">
							<xs:annotation>
								<xs:documentation>Creative Commons Attribution Share Alike 3.0 Unported; cf. https://creativecommons.org/licenses/by-sa/3.0/</xs:documentation>
								<xs:appinfo>
									<label>Creative Commons Attribution Share Alike 3.0 Unported</label>
									<recomUsage>data</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="PDDL">
							<xs:annotation>
								<xs:documentation>Open Data Commons Public Domain Dedication and License; cf. https://opendatacommons.org/licenses/pddl/</xs:documentation>
								<xs:appinfo>
									<label>Open Data Commons Public Domain Dedication and License</label>
									<recomUsage>data</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="ODC-BY-1.0">
							<xs:annotation>
								<xs:documentation>Open Data Commons Attribution License v1.0; cf. https://opendatacommons.org/licenses/by/1-0/</xs:documentation>
								<xs:appinfo>
									<label>Open Data Commons Attribution License v1.0</label>
									<recomUsage>data</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="ODbL-1.0">
							<xs:annotation>
								<xs:documentation>Open Data Commons Open Database License v1.0; cf. https://opendatacommons.org/licenses/odbl/1-0/</xs:documentation>
								<xs:appinfo>
									<label>ODC Open Database License v1.0</label>
									<recomUsage>data</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="AGPL-1.0">
							<xs:annotation>
								<xs:documentation>Affero General Public License v1.0; cf. http://www.affero.org/oagpl.html</xs:documentation>
								<xs:appinfo>
									<label>Affero General Public License v1.0</label>
									<recomUsage>software</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="Apache-2.0">
							<xs:annotation>
								<xs:documentation>Apache Lincse 2.0; cf. https://www.apache.org/licenses/LICENSE-2.0</xs:documentation>
								<xs:appinfo>
									<label>Apache License v2.0</label>
									<recomUsage>software</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="BSD-4-Clause">
							<xs:annotation>
								<xs:documentation>BSD 4-Clause (Original or Old) License; cf. http://directory.fsf.org/wiki/License:BSD_4Clause</xs:documentation>
								<xs:appinfo>
									<label>BSD 4-Clause License (Original or Old)</label>
									<recomUsage>software</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="BSD-3-Clause">
							<xs:annotation>
								<xs:documentation>BSD 3-Clause (New or Revised) License; cf. https://opensource.org/licenses/BSD-3-Clause</xs:documentation>
								<xs:appinfo>
									<label>BSD 3-Clause License (New or Revised)</label>
									<recomUsage>software</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="BSD-2-Clause">
							<xs:annotation>
								<xs:documentation>BSD-2-Clause (Simplified) License; cf. https://opensource.org/licenses/BSD-2-Clause</xs:documentation>
								<xs:appinfo>
									<label>BSD-2-Clause (Simplified) License</label>
									<recomUsage>software</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="GFDL-1.3">
							<xs:annotation>
								<xs:documentation>GNU Free Documentation License v1.3; cf. https://www.gnu.org/licenses/fdl-1.3.en.html</xs:documentation>
								<xs:appinfo>
									<label>GNU Free Documentation License v1.3</label>
									<recomUsage>software</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="GPL-3.0">
							<xs:annotation>
								<xs:documentation>GNU General Public License v3.0; cf. https://www.gnu.org/licenses/gpl-3.0.en.html</xs:documentation>
								<xs:appinfo>
									<label>GNU General Public License v3.0</label>
									<recomUsage>software</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="LGPL-3.0">
							<xs:annotation>
								<xs:documentation>GNU Lesser General Public License v3.0; cf. https://www.gnu.org/licenses/lgpl-3.0.en.html</xs:documentation>
								<xs:appinfo>
									<label>GNU Lesser General Public License v3.0</label>
									<recomUsage>software</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="MIT">
							<xs:annotation>
								<xs:documentation>MIT License; cf. https://opensource.org/licenses/MIT</xs:documentation>
								<xs:appinfo>
									<label>MIT License</label>
									<recomUsage>software</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="Princeton-WordNet">
							<xs:annotation>
								<xs:documentation>WordNet v3.0 (Princeton WordNet) License; cf. https://wordnet.princeton.edu/wordnet/license/</xs:documentation>
								<xs:appinfo>
									<label>WordNet v3.0 (Princeton WordNet) License</label>
									<recomUsage>data</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="EPL-1.0">
							<xs:annotation>
								<xs:documentation>Eclipse Public License v1.0; cf. https://www.eclipse.org/legal/epl-v10.html</xs:documentation>
								<xs:appinfo>
									<label>Eclipse Public License v1.0</label>
									<recomUsage>software</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="NLM">
							<xs:annotation>
								<xs:documentation>U.S. National Library of Medicine (NLM) License Agreement for NLM Data; cf. https://www.nlm.nih.gov/databases/license/license.pdf</xs:documentation>
								<xs:appinfo>
									<label>License Agreement for NLM Data</label>
									<recomUsage>data</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="f-DPPL-3.0">
							<xs:annotation>
								<xs:documentation>Free Digital Peer Publishing Licence (v3, en); cf. https://www.hbz-nrw.de/produkte/open-access/lizenzen/dppl/fdppl/f-DPPL_v3_en_11-2008</xs:documentation>
								<xs:appinfo>
									<label>Free Digital Peer Publishing Licence (v3)</label>
									<recomUsage>data</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="M-DPPL-3.0">
							<xs:annotation>
								<xs:documentation>Modular Digital Peer Publishing Licence (v3, en); cf. https://www.hbz-nrw.de/produkte/open-access/lizenzen/dppl/mdppl/m-DPPL_v3_en_11-2008</xs:documentation>
								<xs:appinfo>
									<label>Modular Digital Peer Publishing Licence (v3)</label>
									<recomUsage>data</recomUsage>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="proprietary">
							<xs:annotation>
								<xs:documentation>Value for &quot;licence&quot;; to be used for licences that have a proprietary status</xs:documentation>
								<xs:appinfo>
									<label>Proprietary</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="underNegotiation">
							<xs:annotation>
								<xs:documentation>Value for &quot;licence&quot;; to be used for resources whose distribution status is still under negotiation</xs:documentation>
								<xs:appinfo>
									<label>Under negotiation</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="nonStandardLicenceTerms">
							<xs:annotation>
								<xs:documentation>Value for &quot;licence&quot;; to be used for resources that are licensed with a licence not included in the OMTD list of licences; more information on the licence must be provided in the relevant metadata elements</xs:documentation>
								<xs:appinfo>
									<label>Non standard Licence or Terms of use</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						
						
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
			<xs:element maxOccurs="unbounded" minOccurs="0" name="nonStandardLicenceName">
				<xs:annotation>
					<xs:documentation>The name with which a licence is known; to be used for licences not included in the pre-defined list of licences</xs:documentation>
					<xs:appinfo>
						<label>Name (for non-standard licences / terms of use)</label>
						<label-plural>Names (for non-standard licences / terms of use)</label-plural>
						<usage>To appear only when licence=nonStandardLicenceTerms or proprietary</usage>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:restriction base="ms:myString">
							<xs:maxLength value="100"/>
						</xs:restriction>
					</xs:simpleContent>
				</xs:complexType>
				<xs:unique name="uniqueLang23">
					<xs:selector xpath="."/>
					<xs:field xpath="@lang"/>
				</xs:unique>
			</xs:element>
			<xs:element minOccurs="0" name="nonStandardLicenceTermsURL" type="ms:httpURI">
				<xs:annotation>
					<xs:documentation>Used to provide a hyperlink to a URL containing the text of a licence not included in the predefined list or describing the terms of use for a language resource or terms of service for web services</xs:documentation>
					<xs:appinfo>
						<label>URL for non-standard licences / terms of use / terms of service</label>
						<label-plural>URLs for non-standard licences / terms of use / terms of service</label-plural>
						<usage>To appear only when licence=nonStandardLicenceTerms or proprietary; at least this or the nonStandardLicenceTermsText must be filled in</usage>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="nonStandaradLicenceTermsText">
				<xs:annotation>
					<xs:documentation>Used for inputting the text of licences (that are not included in the pre-defined list) and terms of use or terms of service (for web services)</xs:documentation>
					<xs:appinfo>
						<label>Text (for non-standard licences / terms of use / terms of service)</label>
						<label-plural>Texts (for non-standard licences / terms of use / terms of service)</label-plural>
						<usage>To appear only when licence=nonStandardLicenceTerms or proprietary; at least this or the nonStandardLicenceTermsURL must be filled in</usage>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:restriction base="ms:myString">
							<xs:maxLength value="1000"/>
						</xs:restriction>
					</xs:simpleContent>
				</xs:complexType>
				<xs:unique name="uniqueLang22">
					<xs:selector xpath="."/>
					<xs:field xpath="@lang"/>
				</xs:unique>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="conditionOfUse">
				<xs:annotation>
					<xs:documentation>Specifies the conditions and terms of use imposed by the licence. It is an optional element and only to be taken as providing brief human readable information on the fact that the LR is provided under a specific set of conditions. These correspond to the most frequently used conditions imposed by the licensor of the LR (via the specified licence). The proper exposition of all conditions and possible exceptions is to be found inside the licence text. LR depositors should, hence, carefully choose the values of this field to match the licence chosen and users should carefully read that licence before using the LR.</xs:documentation>
					<xs:appinfo>
						<relation>one-to-many</relation>
						<label>Condition of use</label>
						<label-plural>Conditions of use</label-plural>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:annotation><xs:appinfo><jaxb:typesafeEnumClass name="conditionOfUseEnum"/></xs:appinfo></xs:annotation><xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
						<xs:enumeration value="attribution"/>
						<xs:enumeration value="nonCommercialUse"/>
						<xs:enumeration value="commercialUse"/>
						<xs:enumeration value="shareAlike"/>
						<xs:enumeration value="noDerivatives"/>
						<xs:enumeration value="noRedistribution"/>
						<xs:enumeration value="evaluationUse"/>
						<xs:enumeration value="research"/>
						<xs:enumeration value="languageEngineeringResearch"/>
						<xs:enumeration value="education"/>
						<xs:enumeration value="informLicensor"/>
						<xs:enumeration value="redeposit"/>
						<xs:enumeration value="compensate"/>
						<xs:enumeration value="personalDataIncluded"/>
						<xs:enumeration value="sensitiveDataIncluded"/>
						<xs:enumeration value="requestPlan"/>
						<xs:enumeration value="spatialConstraint"/>
						<xs:enumeration value="userIdentified"/>
						<xs:enumeration value="academicUsers"/>
						<xs:enumeration value="commercialUsers"/>
						<xs:enumeration value="membersOfGroup"/>
						<xs:enumeration value="other"/>
					</xs:restriction>
					
				</xs:simpleType>
			</xs:element>
			
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="rightsStatement">
		<xs:annotation>
			<xs:documentation>The name (identifier) of a formal statement indicative of licensing terms for the use of a resource (e.g. open access, free to read etc.); its semantics should be clear, preferrably formally expressed and stored at a URL</xs:documentation>
			<xs:appinfo>
				<label>Rights statement</label>
				<label-plural>Rights statements</label-plural>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:annotation><xs:appinfo><jaxb:typesafeEnumClass name="rightsStatementEnum"/></xs:appinfo></xs:annotation><xs:restriction base="xs:string">
				<xs:enumeration value="openAccess">
					<xs:annotation>
						<xs:documentation>The free and online availability of literature, which allows to read, download, copy, distribute, print, search, or link to the ful text, crawl articles for indexing, pass them as data to software, or use them for any other useful purpose. An availability that is granted without financial, legal, or technical barriers other than those inseparable from gaining access to the internet itself, and those related to giving authors control over the integrity of their work and the right to be properly acknowledged and cited.</xs:documentation>
						<xs:appinfo>
							<label>Open Access</label>
							<closeMatch>info:eu-repo/semantics/openAccess</closeMatch>
							<closeMatch>http://purl.org/eprint/accessRights/OpenAccess</closeMatch>
						</xs:appinfo>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="restrictedAccess">
					<xs:annotation>
						<xs:documentation>Access is subject to restrictions or controls regarding users (e.g. limited to researchers or members of a specific group) or use (e.g. for research only, noncommercial use etc.); subscription or registration may also be required and access may incur financial costs.</xs:documentation>
						<xs:appinfo>
							<label>Restricted Access</label>
							<closeMatch>info:eu-repo/semantics/restrictedAccess</closeMatch>
							<closeMatch>http://purl.org/eprint/accessRights/RestrictedAccess</closeMatch>
						</xs:appinfo>
					</xs:annotation>
				</xs:enumeration>
				
				
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	
	<xs:element name="documentDistributionInfo" type="ms:documentDistributionInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on the distribution of a document (single file)</xs:documentation>
			<xs:appinfo>
				<relation>one-to-many</relation>
				<label>Document distribution</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="datasetDistributionInfo" type="ms:datasetDistributionInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on the distribution of a dataset resource (multiple files)</xs:documentation>
			<xs:appinfo>
				<relation>one-to-many</relation>
				<label>Document distribution</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="componentDistributionInfo" type="ms:componentDistributionInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on the distributable form of a component (e.g. as a software code, an executable programme, a web service etc.)</xs:documentation>
			<xs:appinfo>
				<relation>one-to-many</relation>
				<label>Document distribution</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="licenceInfo" type="ms:licenceInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on licences for the resource; can be repeated to allow for different modes of access and restrictions of use (e.g. free for academic use, on-a-fee basis for commercial use, download of a sample for free use etc.)</xs:documentation>
			<xs:appinfo>
				<label>Licence</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	
	<xs:element name="rightsInfo">
		<xs:annotation>
			<xs:documentation>Groups information on licensing terms for the distribution of a resource; at least a licence (preferred option) or formal rights statement (e.g. open access) must be declared for the resource</xs:documentation>
			<xs:appinfo>
				<label>Information on distribution rights</label>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:annotation><xs:appinfo><simplify:as-element-property/></xs:appinfo></xs:annotation><xs:sequence>
					<xs:element name="licenceInfos">
						<xs:complexType>
							<xs:sequence>
								<xs:element maxOccurs="unbounded" ref="ms:licenceInfo">
									<xs:annotation>
										<xs:documentation>Groups information on licences for the resource; can be repeated to allow for different modes of access and restrictions of use (e.g. free for academic use, on-a-fee basis for commercial use, download of a sample for free use etc.)</xs:documentation>
										<xs:appinfo>
											<relation>many-to-many</relation>
											<label>Licence</label>
										</xs:appinfo>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					
					<xs:element minOccurs="0" ref="ms:rightsStatement"/>
				</xs:sequence>
				<xs:element minOccurs="1" ref="ms:rightsStatement"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="distributionMedium">
		<xs:annotation>
			<xs:documentation>Specifies the medium (channel) used for delivery or providing access to the resource</xs:documentation>
			<xs:appinfo>
				<recommended>true</recommended>
				<relation>one-to-many</relation>
				<label>Distribution medium</label>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:annotation><xs:appinfo><jaxb:typesafeEnumClass name="distributionMediumEnum"/></xs:appinfo></xs:annotation><xs:restriction base="xs:string">
				<xs:maxLength value="30"/>
				<xs:enumeration value="webExecutable">
					<xs:annotation>
						<xs:documentation>For web services</xs:documentation>
						<xs:appinfo>
							<label>Web executable</label>
						</xs:appinfo>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="downloadable">
					<xs:annotation>
						<xs:documentation>For resources that can be downloaded, e.g. for documents that can be downloaded or software tools that can be locally downloaded and run</xs:documentation>
						<xs:appinfo>
							<label>Downloadable</label>
						</xs:appinfo>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="accessibleThroughInterface">
					<xs:annotation>
						<xs:documentation>For resources that can accessed only via an interface, e.g. lexica or corpora through query interfaces</xs:documentation>
						<xs:appinfo>
							<label>Acessible through interface</label>
						</xs:appinfo>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="other">
					<xs:annotation>
						<xs:documentation>Value for distributionMedium; to be used when the desired value is not included in the listed values</xs:documentation>
						<xs:appinfo>
							<label>Other</label>
						</xs:appinfo>
					</xs:annotation>
				</xs:enumeration>
				
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="distributionURL" type="ms:httpURI">
		<xs:annotation>
			<xs:documentation>Any url where the resource can be accessed from, either in a downloadable form or as a web executable command etc.</xs:documentation>
			<xs:appinfo>
				<relation>one-to-many</relation>
				<label>Download URL</label>
				<broader>dcat:downloadURL</broader>
				<recommended>true</recommended>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	
	<xs:element name="copyrightStatement">
		<xs:annotation>
			<xs:documentation>A free text statement that may be included with the resource, usually containing the name(s) of copyright holders and licensing terms (intended for resources that already have such a statement); the element can be repeated for the different language versions using the &quot;lang&quot; attribute to specify the language.</xs:documentation>
			<xs:appinfo>
				<label>Copyright statement</label>
				<broadMatch>dct:rights</broadMatch>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="ms:myString">
					<xs:maxLength value="500"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
		<xs:unique name="uniqueLang200">
			<xs:selector xpath="."/>
			<xs:field xpath="@lang"/>
		</xs:unique>
	</xs:element>
	<xs:element name="attributionText">
		<xs:annotation>
			<xs:documentation>The text that must be quoted for attribution purposes when using a resource - for cases where a resource is provided with a restriction on attribution; you can use a standard text such as &quot;Resource A by Resource Creator/Owner B used under licence C as accessed at D&quot;</xs:documentation>
			<xs:appinfo>
				<relation>one-to-many</relation>
				<label>Attribution text</label>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="ms:myString">
					<xs:maxLength value="1000"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
		<xs:unique name="uniqueLang12">
			<xs:selector xpath="."/>
			<xs:field xpath="@lang"/>
		</xs:unique>
	</xs:element>
	<xs:element name="rightsHolder" type="ms:actorInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on a person or an organization who holds the Copyright and SGDB rights that subsist in the resource. The rights holder could be different from the creator that may have assigned the rights to another person or organization (e.g. an author as a creator assigns her rights to the publisher who is the rights holder) and the distributor that holds a specific licence (i.e. a permission) to distribute the work.</xs:documentation>
			<xs:appinfo>
				<relation>many-to-many</relation>
				<label>Rights holder</label>
				<broadMatch>dct:rightsHolder</broadMatch>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="availabilityStartDate" type="xs:date">
		<xs:annotation>
			<xs:documentation>Specifies the start date of availability of a resource - only for cases where a resource is available for a restricted time period.</xs:documentation>
			<xs:appinfo>
				<relation>one-to-one</relation>
				<label>Availability start date</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="availabilityEndDate" type="xs:date">
		<xs:annotation>
			<xs:documentation>Specifies the end date of availability of a resource - only for cases where a resource is available for a restricted time period.</xs:documentation>
			<xs:appinfo>
				<relation>one-to-one</relation>
				<label>Availability end date</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="fee">
		<xs:annotation>
			<xs:documentation>Specifies the costs that are required to access the resource, a fragment of the resource or to use a component</xs:documentation>
			<xs:appinfo>
				<relation>one-to-one</relation>
				<label>Fee</label>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="userType">
		<xs:annotation>
			<xs:documentation>The conditions imposed by the user type (for instance, use may be allowed only for academic users or the fee may vary depending on the user type)</xs:documentation>
			<xs:appinfo>
				<relation>one-to-many</relation>
				<label>User type</label>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:annotation><xs:appinfo><jaxb:typesafeEnumClass name="userTypeEnum"/></xs:appinfo></xs:annotation><xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
				<xs:enumeration value="academic">
					<xs:annotation>
						<xs:documentation>For academic institutions</xs:documentation>
						<xs:appinfo>
							<label>Academic</label>
						</xs:appinfo>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="commercial">
					<xs:annotation>
						<xs:documentation>For commercial institutions</xs:documentation>
						<xs:appinfo>
							<label>Commercial</label>
						</xs:appinfo>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="membersOfGroup">
					<xs:annotation>
						
						<xs:documentation>For members of particular groups (e.g. META-SHARE, CLARIN, ELRA etc.)</xs:documentation>
						<xs:appinfo>
							<label>Members of group</label>
						</xs:appinfo>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>