src/main/xsd/OMTD-SHARE-LanguageDescription.xsd

<?xml version="1.0" ?><xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" jaxb:extensionBindingPrefixes="xjc simplify" jaxb:version="1.0" targetNamespace="http://www.meta-share.org/OMTD-SHARE_XMLSchema" version="2.0.0" xml:lang="en" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:ms="http://www.meta-share.org/OMTD-SHARE_XMLSchema" xmlns:simplify="http://jaxb2-commons.dev.java.net/basic/simplify" xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="./OMTD-SHARE-GlobalTypes.xsd"/>
	<xs:include schemaLocation="./OMTD-SHARE-ResourceCommon.xsd"/>
	<xs:complexType name="languageDescriptionInfoType">
		<xs:annotation>
			<xs:appinfo>
				<render-short>{identificationInfo/resourceName}</render-short>
			<jaxb:class name="LanguageDescriptionInfo"/></xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element fixed="languageDescription" name="resourceType" type="xs:string">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<label>Resource type</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ms:identificationInfo"/>
			<xs:element maxOccurs="1" ref="ms:contactInfo"/>
			<xs:element maxOccurs="1" ref="ms:versionInfo"/>
			<xs:element minOccurs="0" name="validationInfos">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="ms:validationInfo"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" ref="ms:usageInfo"/>
			<xs:element minOccurs="0" ref="ms:resourceDocumentationInfo"/>
			<xs:element minOccurs="0" ref="ms:resourceCreationInfo"/>
			<xs:element name="distributionInfos">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" ref="ms:datasetDistributionInfo"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="languageDescriptionType">
				<xs:annotation>
					<xs:documentation>The type of the language description</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Language description type</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:annotation><xs:appinfo><jaxb:typesafeEnumClass name="languageDescriptionTypeEnum"/></xs:appinfo></xs:annotation><xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
						<xs:enumeration value="mlModel">
							<xs:annotation>
								<xs:documentation>Value for languageDescriptionType; to be used for Machine Learning models</xs:documentation>
								<xs:appinfo>
									<label>Machine learning model</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="grammar">
							<xs:annotation>
								<xs:documentation>Value for languageDescriptionType; to be used for resources describing the morphological, syntactic etc. system (or part therof) of a language</xs:documentation>
								<xs:appinfo>
									<label>Grammar</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="other">
							<xs:annotation>
								<xs:documentation>Value for languageDescriptionType; to be used when the desired value is not included in the listed values</xs:documentation>
								<xs:appinfo>
									<label>Other</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="modelOperationInfo">
				<xs:annotation>
					<xs:documentation>Information provided for the description of Machine Learning models</xs:documentation>
					<xs:appinfo>
						<usage>Mandatory if resourceType=mlModel</usage>
						<label>Information on machine learning models</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="variant" type="xs:string">
							<xs:annotation>
								<xs:documentation>variant name used for the model</xs:documentation>
								<xs:appinfo>
									<xs:label>Variant name</xs:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element minOccurs="0" ref="ms:typesystem">
							<xs:annotation>
								<xs:appinfo>
									<recommended>true</recommended>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element minOccurs="0" ref="ms:annotationSchema"/>
						<xs:element minOccurs="0" ref="ms:TDMMethod"/>
						<xs:element minOccurs="0" name="algorithm" type="xs:string">
							<xs:annotation>
								<xs:documentation>Training algorithm used for the model (e.g. maximum entropy, svm etc.)</xs:documentation>
								<xs:appinfo>
									<xs:label>Algorithm</xs:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element minOccurs="0" name="algorithmDetails" type="xs:string">
							<xs:annotation>
								<xs:documentation>Detailed description of the algorithm, incl. info on whether it's supervised or not</xs:documentation>
								<xs:appinfo>
									<xs:label>Algorithm details</xs:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element minOccurs="0" name="trainingCorpusDetails" type="xs:string">
							<xs:annotation>
								<xs:documentation>Detailed description of the training corpus (e.g. size, number of features etc.)</xs:documentation>
								<xs:appinfo>
									<xs:label>Training corpus details</xs:label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" ref="ms:languageDescriptionEncodingInfo"/>
			<xs:element minOccurs="0" ref="ms:languageDescriptionOperationInfo"/>
			<xs:element minOccurs="0" ref="ms:languageDescriptionPerformanceInfo"/>
			<xs:element minOccurs="0" name="relations">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="ms:relationInfo">
							<xs:annotation>
								<xs:appinfo>
									<usage>Mandatory if languageDescriptionType=mlModel</usage>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="languageDescriptionMediaType">
				<xs:annotation>
					<xs:documentation>Groups information on the media type-specific components for language descriptions</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
						<label>Media type component of language description</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ms:languageDescriptionTextInfo"/>
						
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="languageDescriptionEncodingInfoType">
		<xs:annotation>
			<xs:appinfo>
				<relation>one-to-one</relation>
			<jaxb:class name="LanguageDescriptionEncodingInfo"/></xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="encodingLevels">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" ref="ms:encodingLevel"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="standardsBestPractices">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="conformanceToStandardsBestPractices" type="ms:conformanceToStandardsBestPractices">
							<xs:annotation>
								<xs:documentation>Specifies the standards or the best practices to which the tagset used for the annotation conforms</xs:documentation>
								<xs:appinfo>
									<label>Conformance to standards / best practices</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="theoreticModels">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="ms:theoreticModel"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="formalisms">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="formalism" type="xs:string">
							<xs:annotation>
								<xs:documentation>Reference (name, bibliographic reference or link to url) for the formalism used for the creation/enrichment of the resource (grammar or tool/service)</xs:documentation>
								<xs:appinfo>
									<label>Formalism</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="tasks">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="task">
							<xs:annotation>
								<xs:documentation>An indication of the task performed by the grammar</xs:documentation>
								<xs:appinfo>
									<label>Task</label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:annotation><xs:appinfo><jaxb:typesafeEnumClass name="taskEnum"/></xs:appinfo></xs:annotation><xs:restriction base="xs:string">
									<xs:maxLength value="30"/>
									<xs:enumeration value="anaphoraResolution">
										<xs:annotation>
											<xs:documentation>Value for task; for grammars used for anaphora resolution</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="chunking">
										<xs:annotation>
											<xs:documentation>Value for task; for grammars used for chunking (shallow syntactic parsing)</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="parsing">
										<xs:annotation>
											<xs:documentation>Value for task; for grammars used for parsing</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="npRecognition">
										<xs:annotation>
											<xs:documentation>Value for task; for grammars used for identifying noun phrases</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="titlesParsing">
										<xs:annotation>
											<xs:documentation>Value for task; for grammars that are restricted to parsing titles</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="definitionsParsing">
										<xs:annotation>
											<xs:documentation>Value for task; for grammars that are restricted to parsing definitions</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="analysis">
										<xs:annotation>
											<xs:documentation>Value for task; for grammars used for analysis tasks</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="generation">
										<xs:annotation>
											<xs:documentation>Value for task; for grammars used for language generation</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="other"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="grammaticalPhenomenaCoverages">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="grammaticalPhenomenaCoverage">
							<xs:annotation>
								<xs:documentation>An indication of the grammatical phenomena covered by the grammar</xs:documentation>
								<xs:appinfo>
									<label>Grammatical phenomena coverage</label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:annotation><xs:appinfo><jaxb:typesafeEnumClass name="grammaticalPhenomenaCoverageEnum"/></xs:appinfo></xs:annotation><xs:restriction base="xs:string">
									<xs:maxLength value="30"/>
									<xs:enumeration value="clauseStructure">
										<xs:annotation>
											<xs:documentation>Value for grammaticalPheonomenaCoverage; for grammars that can recognise the structure of clauses</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="ppAttachment">
										<xs:annotation>
											<xs:documentation>Value for grammaticalPheonomenaCoverage; for grammars that cover pp-attachment (attachment of prepositional phrases)</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="npStructure">
										<xs:annotation>
											<xs:documentation>Value for grammaticalPheonomenaCoverage; for grammars that cover structure of noun phrases</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="coordination">
										<xs:annotation>
											<xs:documentation>Value for grammaticalPheonomenaCoverage; for grammars that cover coordination</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="anaphora">
										<xs:annotation>
											<xs:documentation>Value for grammaticalPheonomenaCoverage; for grammars that cover anaphora problems</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="other"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element minOccurs="0" name="weightedGrammar" type="xs:boolean">
							<xs:annotation>
								<xs:documentation>Indicates whether the grammar contains numerical weights (incl. probabilities)</xs:documentation>
								<xs:appinfo>
									<relation>one-to-one</relation>
									<label>Weighted grammar</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="languageDescriptionOperationInfoType">
		<xs:annotation><xs:appinfo><jaxb:class name="LanguageDescriptionOperationInfo"/></xs:appinfo></xs:annotation><xs:sequence>
			<xs:element minOccurs="0" ref="ms:runningEnvironmentInfo"/>
			<xs:element minOccurs="0" name="relatedLexiconInfo" type="ms:relatedLexiconInfoType">
				<xs:annotation>
					<xs:documentation>Groups together information on requirements for lexica set by the LanguageDescriptions</xs:documentation>
					<xs:appinfo>
						<label>Related lexicon</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="languageDescriptionPerformanceInfoType">
		<xs:annotation><xs:appinfo><jaxb:class name="LanguageDescriptionPerformanceInfo"/></xs:appinfo></xs:annotation><xs:sequence>
			<xs:element minOccurs="0" name="robustness">
				<xs:annotation>
					<xs:documentation>Free text statement on the robustness of the grammar (how well the grammar can cope with misspelt/unknown etc. input, i.e. whether it can produce even partial interpretations of the input)</xs:documentation>
					<xs:appinfo>
						<label>Robustness</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="shallowness">
				<xs:annotation>
					<xs:documentation>Free text statement on the shallowness of the grammar (how deep the syntactic analysis performed by the grammar can be)</xs:documentation>
					<xs:appinfo>
						<label>Shallowness</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="output">
				<xs:annotation>
					<xs:documentation>Indicates whether the output of the operation of the grammar is a statement of grammaticality (grammatical/ungrammatical) or structures (interpretation of the input)</xs:documentation>
					<xs:appinfo>
						<label>Output</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="languageDescriptionTextInfoType">
		<xs:annotation><xs:appinfo><jaxb:class name="LanguageDescriptionTextInfo"/></xs:appinfo></xs:annotation><xs:sequence>
			<xs:element fixed="text" name="mediaType" type="xs:string">
				<xs:annotation>
					<xs:documentation>Specifies the media type of the resource and basically corresponds to the physical medium of the content representation. Each media type is described through a distinctive set of features. A resource may consist of parts attributed to different types of media. A tool/service may take as input/output more than one different media types.</xs:documentation>
					<xs:appinfo>
						<label>Media type</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ms:lingualityInfo"/>
			<xs:element name="languages">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" ref="ms:languageInfo"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="metalanguages">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="ms:metalanguageInfo"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="sizes">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="ms:sizeInfo">
							<xs:annotation>
								<xs:appinfo>
									<recommended>true</recommended>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="domains">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="ms:domainInfo"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="timeClassifications">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="ms:timeCoverageInfo"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="geographicClassifications">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" ref="ms:geographicCoverageInfo"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" ref="ms:creationInfo"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="relatedLexiconInfoType">
		<xs:annotation><xs:appinfo><jaxb:class name="RelatedLexiconInfo"/></xs:appinfo></xs:annotation><xs:sequence>
			<xs:element name="relatedLexiconType">
				<xs:annotation>
					<xs:documentation>Indicates the position of the lexica that must or can be used with the grammar</xs:documentation>
					<xs:appinfo>
						<label>Related lexicon type</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:annotation><xs:appinfo><jaxb:typesafeEnumClass name="relatedLexiconTypeEnum"/></xs:appinfo></xs:annotation><xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
						<xs:enumeration value="included">
							<xs:annotation>
								<xs:documentation>For lexica that are included in the grammar file</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="attached">
							<xs:annotation>
								<xs:documentation>for lexica attached to a resource (e.g. as a different file in the same directory, or downloadable from another position); the element attachedLexiconPosition should be used for further information</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="compatible">
							<xs:annotation>
								<xs:documentation>for grammars that can use any lexicon as long as they of a compatible type; the element compatibleLexiconType must be used for further specification</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="none"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="attachedLexiconPosition">
				<xs:annotation>
					<xs:documentation>Indicates the position of the lexicon, if attached to the grammar</xs:documentation>
					<xs:appinfo>
						<label>Attached lexicon position</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="compatibleLexiconType">
				<xs:annotation>
					<xs:documentation>Type of (external) lexicon that can be used with the grammar</xs:documentation>
					<xs:appinfo>
						<relation>one-to-many</relation>
						<label>Compatible lexicon type</label>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:annotation><xs:appinfo><jaxb:typesafeEnumClass name="compatibleLexiconTypeEnum"/></xs:appinfo></xs:annotation><xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
						<xs:enumeration value="wordnet">
							<xs:annotation>
								<xs:documentation>Value for compatibleLexiconType; to be used for grammars that are compatible with wordnets</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="wordlist">
							<xs:annotation>
								<xs:documentation>Value for compatibleLexiconType; to be used for grammars that need wordlists for their operation</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="morphologicalLexicon">
							<xs:annotation>
								<xs:documentation>Value for compatibleLexiconType; to be used for grammars that need lexica with morphological information for their operation</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="other"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="languageDescriptionMetadataRecord">
		<xs:annotation>
			<xs:appinfo>
				<xs:label>Metadata record for language descriptions (grammars)</xs:label>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ms:baseMetadataRecord">
					<xs:sequence>
						<xs:element ref="ms:languageDescriptionInfo"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="languageDescriptionInfo" type="ms:languageDescriptionInfoType">
		<xs:annotation>
			<xs:documentation>Groups together all information related to language descriptions</xs:documentation>
			<xs:appinfo>
				<label>Language description</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="languageDescriptionEncodingInfo" type="ms:languageDescriptionEncodingInfoType">
		<xs:annotation>
			<xs:documentation>Groups together information on the contents of the LanguageDescriptions</xs:documentation>
			<xs:appinfo>
				<label>Language description encoding</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="languageDescriptionOperationInfo" type="ms:languageDescriptionOperationInfoType">
		<xs:annotation>
			<xs:documentation>Groups together information on the operation requirements of the Language Descriptions</xs:documentation>
			<xs:appinfo>
				<label>Language description operation</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="languageDescriptionPerformanceInfo" type="ms:languageDescriptionPerformanceInfoType">
		<xs:annotation>
			<xs:documentation>Groups together information on the performance of the Language Descriptions</xs:documentation>
			<xs:appinfo>
				<label>Language description performance</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="languageDescriptionTextInfo" type="ms:languageDescriptionTextInfoType">
		<xs:annotation>
			<xs:documentation>Groups together all information relevant to the text module of a language description (e.g. format, languages, size etc.); it is obligatory for all language descriptions</xs:documentation>
			<xs:appinfo>
				<label>Language description text component</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
</xs:schema>