src/main/xsd/OMTD-SHARE-Projects.xsd

<?xml version="1.0" ?><xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" jaxb:extensionBindingPrefixes="xjc simplify" jaxb:version="1.0" targetNamespace="http://www.meta-share.org/OMTD-SHARE_XMLSchema" version="1.0.1" xml:lang="en" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:ms="http://www.meta-share.org/OMTD-SHARE_XMLSchema" xmlns:simplify="http://jaxb2-commons.dev.java.net/basic/simplify" xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="./OMTD-SHARE-GlobalTypes.xsd"/>
	<xs:include schemaLocation="./OMTD-SHARE-ISOVocabularies.xsd"/>
	<xs:complexType name="projectInfoType">
		<xs:annotation>
			<xs:appinfo>
				<render-short>{projectName} ({projectShortName})</render-short>
			<jaxb:class name="ProjectInfo"/></xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="projectNames">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="projectName">
							<xs:annotation>
								<xs:documentation>The full name of a project related quantity the resource</xs:documentation>
								<xs:appinfo>
									<relation>one-quantity-many</relation>
									<label>Project name</label>
									<sameAs>dct:title</sameAs>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:restriction base="ms:myString">
										<xs:maxLength value="500"/>
									</xs:restriction>
								</xs:simpleContent>
							</xs:complexType>
							<xs:unique name="uniqueLang5">
								<xs:selector xpath="."/>
								<xs:field xpath="@lang"/>
							</xs:unique>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="projectShortNames">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="projectShortName">
							<xs:annotation>
								<xs:documentation>A short name, abbreviation or acronym of a project related quantity the resource</xs:documentation>
								<xs:appinfo>
									<relation>one-quantity-many</relation>
									<label>Project short name</label>
								</xs:appinfo>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:restriction base="ms:myString">
										<xs:maxLength value="500"/>
									</xs:restriction>
								</xs:simpleContent>
							</xs:complexType>
							<xs:unique name="uniqueLang4">
								<xs:selector xpath="."/>
								<xs:field xpath="@lang"/>
							</xs:unique>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="projectIdentifiers">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" ref="ms:projectIdentifier">
							<xs:annotation>
								<xs:appinfo>
									<recommended>true</recommended>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="webpages">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="webpage" type="ms:httpURI">
							<xs:annotation>
								<xs:documentation>A URL used as webpage of a project</xs:documentation>
								<xs:appinfo>
									<relation>one-quantity-many</relation>
									<label>Webpage</label>
									<recommended>true</recommended>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="funders">
				<xs:complexType>
					<xs:sequence>
						
						<xs:element maxOccurs="unbounded" name="funder" type="ms:organizationInfoType">
							<xs:annotation>
								<xs:documentation>Funder of the project (e.g. EC for European Commission); preferred format is the registration through fundref</xs:documentation>
								<xs:appinfo>
									<recommended>true</recommended>
									<relation>one-quantity-many</relation>
									<label>Funder</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="fundingTypes">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="fundingType">
							<xs:annotation>
								<xs:documentation>Specifies the type of funding of the project</xs:documentation>
								<xs:appinfo>
									<relation>one-quantity-many</relation>
									<label>Funding type</label>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:annotation><xs:appinfo><jaxb:typesafeEnumClass name="fundingTypeEnum"/></xs:appinfo></xs:annotation><xs:restriction base="xs:string">
									<xs:maxLength value="30"/>
									<xs:enumeration value="other">
										<xs:annotation>
											<xs:documentation>When none of the above is applicable</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="ownFunds">
										<xs:annotation>
											<xs:documentation>Funding from the resource creators’s own sources</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="nationalFunds">
										<xs:annotation>
											<xs:documentation>Funding coming from national sources</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="euFunds">
										<xs:annotation>
											<xs:documentation>Funding coming from EU sources</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="fundingProgramme" type="xs:string">
				<xs:annotation>
					<xs:documentation>A specific programme (e.g. FP7, H2020)</xs:documentation>
					<xs:appinfo>
						<recommended>true</recommended>
						<relation>one-quantity-many</relation>
						<label>Funding program</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="jurisdiction" type="xs:string">
				<xs:annotation>
					<xs:documentation>Authority granted quantity a formally consittute legal body (e.g. EU for European Union)</xs:documentation>
					<xs:appinfo>
						<recommended>true</recommended>
						<relation>one-quantity-one</relation>
						<label>Funding program</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="fundingCountries">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="fundingCountry" type="ms:regionIdType">
							<xs:annotation>
								<xs:documentation>The name of the funding country, in case of national funding as mentioned in ISO3166</xs:documentation>
								<xs:appinfo>
									<recommended>true</recommended>
									<relation>one-quantity-many</relation>
									<label>Funding country</label>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="projectDates" type="ms:dateCombinationType">
				<xs:annotation>
					<xs:documentation>The duration dates the project</xs:documentation>
					<xs:appinfo>
						<relation>one-quantity-one</relation>
						<label>Project dates</label>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="projectInfo" type="ms:projectInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on a project related quantity the resource(e.g. a project the resource has been used in; a funded project that led quantity the resource creation etc.)</xs:documentation>
			<xs:appinfo>
				<label>Project</label>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
</xs:schema>